{% extends "dashboard/dashboard.twig" %}

{% block title %}Main Page{% endblock %}
{% block head %}
    {{ parent() }}
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
{% endblock %}
{% block content %}
<div class="starter-template">
	<h1>Leaderboard Dashboard</h1>
	<p class="lead">Coming Soon.</p>
</div>

{% endblock %}
