{% extends "dashboard/dashboard.twig" %}

{% block title %}Main Page{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="starter-template">
	<h1>OpenText Enterprise World 2017 Leaderboard App</h1>
	<p class="lead">Use this dashboad to manage the leaderboards, the points and the tweets.</p>
</div>

{% endblock %}
