<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Enterprise 2016 Video Wall</title>
	
	<!-- Scripts -->
	<script src="/assets/leaderboard/js/jquery-1.9.1.min.js"></script>
	<script src="/assets/leaderboard/js/functions.js"></script>
	<script src="/assets/leaderboard/js/isotope.pkgd.min.js"></script>
	<script src="/assets/leaderboard/js/packery-mode.pkgd.js"></script>
	<script src="/assets/leaderboard/js/jquery.cycle2.min.js"></script>
	<script src="/assets/leaderboard/js/jquery.cycle2.scrollVert.min.js"></script>
	<script src="/assets/leaderboard/js/scoreboard.js"></script>
	
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/leaderboard/css/styles.css" />
	
</head>

<body>
	
	<!-- Carousel Container for all slides on video wall -->
	<div id="videoWall" data-cycle-fx="scrollHorz" data-cycle-slides="> div">
		
		
		<!-- Overall Leaderboard -->
		<div id="leaderboardOverall" class="slide" data-cycle-timeout="5000">
			
			<!-- Title -->
			<div id="titleBlock">
				
				<div id="headings">
					<h2>LEADERBOARD</h2>
					<h1>Overall by Team</h1>
				</div>
				<img src="/assets/leaderboard/img/ew-games-logo.png" />
				
			</div>
		
			<div id="overallLeaderboard">
				<div class="rankings">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
				</div>
				<div class="rowAlt">
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
				</div>
				<div class="teamRow">
					<span class="rank blue"></span>
					<span class="icon bl"></span>
					<span class="teamName">Team Blue</span>
					<span class="points" id="blPoints">1000000</span>
				</div>
				<div class="teamRow">
					<span class="rank purple"></span>
					<span class="icon pl"></span>
					<span class="teamName">Team Purple</span>
					<span class="points" id="plPoints">1000000</span>
				</div>
				<div class="teamRow">
					<span class="rank green"></span>
					<span class="icon gr"></span>
					<span class="teamName">Team Green</span>
					<span class="points" id="grPoints">4000000</span>
				</div>
				<div class="teamRow">
					<span class="rank orange"></span>
					<span class="icon or"></span>
					<span class="teamName">Team Orange</span>
					<span class="points" id="orPoints">3000000</span>
				</div>
				<div class="teamRow">
					<span class="rank teal"></span>
					<span class="icon tl"></span>
					<span class="teamName">Team Teal</span>
					<span class="points" id="tlPoints">2000000</span>
				</div>
			</div>
			
		</div><!-- End Overall Leaderboard -->
		
		
		
		<!-- Individual Leaderboard -->
		<div id="leaderboardIndividual" class="slide" data-cycle-timeout="5000">
			
			<!-- Title -->
			<div id="titleBlock">
				
				<div id="headings">
					<h2>LEADERBOARD</h2>
					<h1>Overall by Individual</h1>
				</div>
				<img src="/assets/leaderboard/img/ew-games-logo.png" />
				
			</div>
		
			<div id="individualLeaderboard">
				<div class="rankings">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
				</div>
				<div class="rowAlt">
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
				</div>
				
			</div>
			
		</div><!-- End Overall Leaderboard -->
		
		
		
		<!-- Team Individual Blue -->
		<div id="leaderboardIndividualByTeam" class="slide"  data-cycle-timeout="5000">
			
			<!-- Title -->
			<div id="titleBlock">
				
				<div id="headings">
					<h2>LEADERBOARD</h2>
					<h1>Top Individuals on Team #BL</h1>
				</div>
				<img src="/assets/leaderboard/img/ew-games-logo.png" />
				
			</div>
			
			<!-- Wrapper -->
			<div id="individualByTeamCarousel" data-cycle-slides="> div" data-cycle-timeout="5000">
				<!-- Start of Blue Team -->
				<div class="teamStats">
					<!-- Team Icon -->
					<div class="teamIcon bl">
					</div>
					<!-- Team Scoreboard -->
					<div id="blueScoreboard" class="teamScoreboard">
						<div class="rankingsIndiv">
							<span>1</span>
							<span>2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>-
						</div>
						<div class="rowAlt">
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="BlueName0">Person One</span>
							<span class="points individual" id="BluePoints0">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="BlueName1">Person Two</span>
							<span class="points individual" id="BluePoints1">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="BlueName2">Person Three</span>
							<span class="points individual" id="BluePoints2">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="BlueName3">Person Four</span>
							<span class="points individual" id="BluePoints3">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="BlueName4">Person Five</span>
							<span class="points individual" id="BluePoints4">1000000</span>
						</div>
					</div>
				</div><!-- End of Blue Team -->
			</div><!-- End Wrapper -->
		</div>
		
		
		
		
		
		<!-- Team Individual Green -->
		<div id="leaderboardIndividualByTeam" class="slide"  data-cycle-timeout="5000">
			
			<!-- Title -->
			<div id="titleBlock">
				
				<div id="headings">
					<h2>LEADERBOARD</h2>
					<h1>Top Individuals on Team #GR</h1>
				</div>
				<img src="/assets/leaderboard/img/ew-games-logo.png" />
				
			</div>
			
			<!-- Wrapper -->
			<div id="individualByTeamCarousel" data-cycle-slides="> div" data-cycle-timeout="5000">
				<!-- Start of Green Team -->
				<div class="teamStats">
					<!-- Team Icon -->
					<div class="teamIcon gr">
					</div>
					<!-- Team Scoreboard -->
					<div id="greenScoreboard" class="teamScoreboard">
						<div class="rankingsIndiv">
							<span>1</span>
							<span>2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
						</div>
						<div class="rowAlt">
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="GreenName0">Person One</span>
							<span class="points individual" id="GreenPoints0">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="GreenName1">Person Two</span>
							<span class="points individual" id="GreenPoints1">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="GreenName2">Person Three</span>
							<span class="points individual" id="GreenPoints2">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="GreenName3">Person Four</span>
							<span class="points individual" id="GreenPoints3">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="GreenName4">Person Five</span>
							<span class="points individual" id="GreenPoints4">1000000</span>
						</div>
					</div>
					
				</div><!-- End of Green Team -->
			</div><!-- End Wrapper -->
		</div>
		
		
		
		
		<!-- Team Individual Teal -->
		<div id="leaderboardIndividualByTeam" class="slide"  data-cycle-timeout="5000">
			
			<!-- Title -->
			<div id="titleBlock">
				
				<div id="headings">
					<h2>LEADERBOARD</h2>
					<h1>Top Individuals on Team #TL</h1>
				</div>
				<img src="/assets/leaderboard/img/ew-games-logo.png" />
				
			</div>
			
			<!-- Wrapper -->
			<div id="individualByTeamCarousel" data-cycle-slides="> div" data-cycle-timeout="5000">
				<!-- Start of Teal Team -->
				<div class="teamStats">
					<!-- Team Icon -->
					<div class="teamIcon tl">
					</div>
					<!-- Team Scoreboard -->
					<div id="tealScoreboard" class="teamScoreboard">
						<div class="rankingsIndiv">
							<span>1</span>
							<span>2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
						</div>
						<div class="rowAlt">
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="TealName0">Person One</span>
							<span class="points individual" id="TealPoints0">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="TealName1">Person Two</span>
							<span class="points individual" id="TealPoints1">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="TealName2">Person Three</span>
							<span class="points individual" id="TealPoints2">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="TealName3">Person Four</span>
							<span class="points individual" id="TealPoints3">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="TealName4">Person Five</span>
							<span class="points individual" id="TealPoints4">1000000</span>
						</div>
					</div>
					
				</div><!-- End of Teal Team -->
			</div><!-- End Wrapper -->
		</div>
		
		
		
		
		<!-- Team Individual Orange -->
		<div id="leaderboardIndividualByTeam" class="slide"  data-cycle-timeout="5000">
			
			<!-- Title -->
			<div id="titleBlock">
				
				<div id="headings">
					<h2>LEADERBOARD</h2>
					<h1>Top Individuals on Team #OR</h1>
				</div>
				<img src="/assets/leaderboard/img/ew-games-logo.png" />
				
			</div>
			
			<!-- Wrapper -->
			<div id="individualByTeamCarousel" data-cycle-slides="> div" data-cycle-timeout="5000">
				<!-- Start of Orange Team -->
				<div class="teamStats">
					<!-- Team Icon -->
					<div class="teamIcon or">
					</div>
					<!-- Team Scoreboard -->
					<div id="orangeScoreboard" class="teamScoreboard">
						<div class="rankingsIndiv">
							<span>1</span>
							<span>2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
						</div>
						<div class="rowAlt">
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="OrangeName0">Person One</span>
							<span class="points individual" id="OrangePoints0">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="OrangeName1">Person Two</span>
							<span class="points individual" id="OrangePoints1">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="OrangeName2">Person Three</span>
							<span class="points individual" id="OrangePoints2">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="OrangeName3">Person Four</span>
							<span class="points individual" id="OrangePoints3">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="OrangeName4">Person Five</span>
							<span class="points individual" id="OrangePoints4">1000000</span>
						</div>
					</div>
					
				</div><!-- End of Orange Team -->
			</div><!-- End Wrapper -->
		</div>
		
		
		
		
		<!-- Team Individual Purple -->
		<div id="leaderboardIndividualByTeam" class="slide"  data-cycle-timeout="5000">
			
			<!-- Title -->
			<div id="titleBlock">
				
				<div id="headings">
					<h2>LEADERBOARD</h2>
					<h1>Top Individuals on Team #PL</h1>
				</div>
				<img src="/assets/leaderboard/img/ew-games-logo.png" />
				
			</div>
			
			<!-- Wrapper -->
			<div id="individualByTeamCarousel" data-cycle-slides="> div" data-cycle-timeout="5000">
				<!-- Start of Purple Team -->
				<div class="teamStats">
					<!-- Team Icon -->
					<div class="teamIcon pl">
					</div>
					<!-- Team Scoreboard -->
					<div id="purpleScoreboard" class="teamScoreboard">
						<div class="rankingsIndiv">
							<span>1</span>
							<span>2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
						</div>
						<div class="rowAlt">
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
							<span></span>
							<span class="even"></span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="PurpleName0">Person One</span>
							<span class="points individual" id="PurplePoints0">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="PurpleName1">Person Two</span>
							<span class="points individual" id="PurplePoints1">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="PurpleName2">Person Three</span>
							<span class="points individual" id="PurplePoints2">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="PurpleName3">Person Four</span>
							<span class="points individual" id="PurplePoints3">1000000</span>
						</div>
						<div class="teamRow">
							<span class="rank indiv"></span>
							<span class="individualName" id="PurpleName4">Person Five</span>
							<span class="points individual" id="PurplePoints4">1000000</span>
						</div>
					</div>
					
				</div><!-- End of Purple Team -->
			</div><!-- End Wrapper -->
		</div>
		
		
		<!-- Social Wall -->
		<div id="socialWall" class="slide" data-cycle-timeout="0" data-cycle-slides="> div">
			
			<div id="socialWallContainer">
				
			
			</div>
			
		</div><!-- Social Wall -->
		
		<!-- Prize Loop 
		<div id="prizeLoop" class="slide" data-cycle-timeout="0">
			<video id="prizeLoopVideo" class="videoPlayer"> 
			<source src="/assets/leaderboard/video/sponsorloop.mp4">
		</div> -->
		
	</div>

</body>




<script>

$(document).ready(function () {

	getScore();
	getPosts();
});
</script>
</html>