{% extends "dashboard/dashboard.twig" %}

{% block title %}Main Page{% endblock %}
{% block head %}
    {{ parent() }}

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
{% endblock %}
{% block content %}

	<div class="container">
		<div class="row">
            <h1>{{ message }}</h1>
			<form enctype="multipart/form-data" class="form-horizontal" action="#" method="post">
                    <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
				<fieldset>

					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="description">Description</label>
						<div class="controls">
							<input id="description" name="description" placeholder="Describe your screen" class="input-xlarge" type="text">

					</div>

					<!-- Textarea -->
					<div class="control-group">
						<label class="control-label" for="container">container</label>
						<div class="controls">
							<textarea id="container" name="container"></textarea>
						</div>
					</div>

					<!-- File Button -->
					<div class="control-group">
						<label class="control-label" for="screen">Screen</label>
						<div class="controls">
							<input id="screen" name="screen" class="input-file" type="file">
						</div>
					</div>

					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="order">Screen Order</label>
						<div class="controls">
							<input id="order" name="order" placeholder="Enter Screen Order" class="input-xlarge" type="text">

						</div>
					</div>

					<!-- Button -->
					<div class="control-group">
						<label class="control-label" for="submit"></label>
						<div class="controls">
							<button id="submit" name="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>

				</fieldset>
			</form>

		</div>
	</div>

{% endblock %}