	
	<h2>{{message}}</h2>
	<form id="adduser" action="#" method="post">
		
	
			<table><hr><hd>Email</hd><hd><input id="email" type="text" name="email" placeholder="Email Address" style="margin-bottom: 4%;"></hd></hr>
			<hr><hd>Password</hd><hd><input id="password" type="password" name="password" placeholder="Password"></hd></hr>
			</table>
		
		
		<button type="submit" id="submit" value="Submit" form="adduser">Submit</button>
	
	</form>
	
	<a href="/admin">Back</a>