<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Enterprise World 2017 Expo</title>

    <!-- Scripts -->
    <script src="/assets/leaderboard/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/leaderboard/js/isotope.pkgd.min.js"></script>
    <script src="/assets/leaderboard/js/packery-mode.pkgd.js"></script>
    <script src="/assets/leaderboard/js/jquery.cycle2.min.js"></script>
    <script src="/assets/leaderboard/js/scoreboard.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script src="/assets/leaderboard/js/pusher.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/leaderboard/js/functions.js"></script>

    <!-- Tyepkit -->
    <script src="https://use.typekit.net/oae8zyf.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/leaderboard/css/styles.css" />

</head>

<body class="mainLeaderboard">

<!-- Fixed Header -->
<header><img src="/assets/leaderboard/img/ew-games-logo.png" alt="The EW Games" /></header>


<!-- Carousel -->
<div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> div" data-cycle-pager=".pager">


    <!-- Social Wall -->
    <div id="socialWall" class="cycle-slide" data-cycle-timeout="17000">

        <div id="socialWallContainer">



        </div>

    </div>


</div><!-- End overall carousel container -->

<!-- Pager -->
<div class="pager"></div>



</body>
<html>