<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Enterprise 2016 Video Wall</title>

	<!-- Scripts -->
	<script src="/assets/leaderboard/js/jquery-1.9.1.min.js"></script>

</head>

<body>
    {% for database in database%}
{{ database}}
{% endfor%}

</body>


</html>
