<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Enterprise World 2017 Expo</title>
	
	<!-- Scripts -->
	<script src="/assets/leaderboard/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/leaderboard/js/functions.js"></script>
	<script src="/assets/leaderboard/js/isotope.pkgd.min.js"></script>
	<script src="/assets/leaderboard/js/packery-mode.pkgd.js"></script>
	<script src="/assets/leaderboard/js/jquery.cycle2.min.js"></script>
	<script src="/assets/leaderboard/js/jquery.cycle2.scrollVert.min.js"></script>
	<script src="/assets/leaderboard/js/scoreboard.js"></script>
	<!-- Tyepkit -->
	<script src="https://use.typekit.net/oae8zyf.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/leaderboard/css/styles.css" />
	
</head>

<body>

	<!-- Fixed Header -->
	<header><img src="/assets/leaderboard/img/ew-games-logo.png" alt="The EW Games" /></header>
	
	
	<!-- Carousel -->
	<div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> div" data-cycle-pager=".pager">	
		
		
		<!-- Social Wall -->
		<div id="socialWall" class="cycle-slide" data-cycle-timeout="15000">
			
				<div id="socialWallContainer">
				

				
				</div>
			
		</div>
		
		
		<!-- Overall team rankings -->
		<div id="overallTeam" class="cycle-slide leaderboard" data-cycle-timeout="7000">
			
			<h1>Overall team rankings</h1>
			
			<div class="rows">
				<div class="row" id="rdPoints" data-points="21342134">
					<div class="rank"></div>
					<div class="teamIcon red"></div>
					<div class="name">Team Red</div>
					<div class="points"></div>
				</div>
				
				<div class="row" id="blPoints" data-points="345345">
					<div class="rank"></div>
					<div class="teamIcon blue"></div>
					<div class="name">Team Blue</div>
					<div class="points"></div>
				</div>
				
				<div class="row" id="plPoints" data-points="3434534534">
					<div class="rank"></div>
					<div class="teamIcon purple"></div>
					<div class="name">Team Purple</div>
					<div class="points"></div>
				</div>
				
				<div class="row" id="tlPoints" data-points="789789">
					<div class="rank"></div>
					<div class="teamIcon teal"></div>
					<div class="name">Team Teal</div>
					<div class="points"></div>
				</div>
				
				<div class="row" id="grPoints data-points="78567">
					<div class="rank"></div>
					<div class="teamIcon grey"></div>
					<div class="name">Team Grey</div>
					<div class="points"></div>
				</div>
			</div>
			
		</div>
		
		<!-- Overall individual rankings -->
		<div id="overallIndividual" class="cycle-slide leaderboard" data-cycle-timeout="7000">
			
			<h1>Overall individual rankings</h1>	
	
			<div class="rows">
				<div class="row" data-points="34563456">
					<div class="rank"></div>
					<div class="teamIcon red"></div>
					<div class="name">Dennis Hopper</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="796897">
					<div class="rank"></div>
					<div class="teamIcon blue"></div>
					<div class="name">Aziz Ansari</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67899">
					<div class="rank"></div>
					<div class="teamIcon purple"></div>
					<div class="name">Sharon Stone</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="768679">
					<div class="rank"></div>
					<div class="teamIcon teal"></div>
					<div class="name">John Cena</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67889">
					<div class="rank"></div>
					<div class="teamIcon grey"></div>
					<div class="name">Randy Orton</div>
					<div class="points"></div>
				</div>
			</div>
			
		</div>
		
		<!-- Team red rankings -->
		<div id="teamRed" class="cycle-slide leaderboard team" data-cycle-timeout="7000">
			
			<h1>Team Red rankings</h1>	
			
			<div class="teamBadge"></div>
	
			<div class="rows">
				<div class="row" data-points="34563456">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Red member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="796897">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Red member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67899">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Red member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="768679">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Red member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67889">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Red member</div>
					<div class="points"></div>
				</div>
			</div>
			
		</div>
		
		<!-- Team blue rankings -->
		<div id="teamBlue" class="cycle-slide leaderboard team" data-cycle-timeout="7000">
			
			<h1>Team Blue rankings</h1>	
			
			<div class="teamBadge"></div>
	
			<div class="rows">
				<div class="row" data-points="34563456">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Blue member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="796897">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Blue member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67899">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Blue member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="768679">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Blue member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67889">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Blue member</div>
					<div class="points"></div>
				</div>
			</div>
			
		</div>
		
		<!-- Team red rankings -->
		<div id="teamPurple" class="cycle-slide leaderboard team" data-cycle-timeout="7000">
			
			<h1>Team Purple rankings</h1>	
			
			<div class="teamBadge"></div>
	
			<div class="rows">
				<div class="row" data-points="34563456">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Purple member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="796897">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Purple member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67899">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Purple member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="768679">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Purple member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67889">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Purple member</div>
					<div class="points"></div>
				</div>
			</div>
			
		</div>
		
		<!-- Team teal rankings -->
		<div id="teamTeal" class="cycle-slide leaderboard team" data-cycle-timeout="7000">
			
			<h1>Team Teal rankings</h1>	
			
			<div class="teamBadge"></div>
	
			<div class="rows">
				<div class="row" data-points="34563456">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Teal member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="796897">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Teal member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67899">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Teal member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="768679">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Teal member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67889">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Teal member</div>
					<div class="points"></div>
				</div>
			</div>
			
		</div>
		
		<!-- Team grey rankings -->
		<div id="teamGrey" class="cycle-slide leaderboard team" data-cycle-timeout="7000">
			
			<h1>Team Grey rankings</h1>	
			
			<div class="teamBadge"></div>
	
			<div class="rows">
				<div class="row" data-points="34563456">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Grey member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="796897">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Grey member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67899">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Grey member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="768679">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Grey member</div>
					<div class="points"></div>
				</div>
				
				<div class="row" data-points="67889">
					<div class="rank"></div>
					<div class="teamIcon"></div>
					<div class="name">Team Grey member</div>
					<div class="points"></div>
				</div>
			</div>
			
		</div>
		
		<div class="cycle-slide imgSlide" data-cycle-timeout="7000">
			
			<img src="img/winner-test.png" alt="" />
			
		</div>
		
		
	
	</div><!-- End overall carousel container -->
	
	<!-- Pager -->
	<div class="pager"></div>
	


</body>
<html>