<html>

<head>
<title>Enterprise World 2016&mdash;You're invited</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, minimal-ui" />

<!--Scripts-->
<script language="javascript" type="text/javascript" src="/assets/js/jquery-1.9.1.min.js"></script>
<script language="javascript" type="text/javascript" src="/assets/js/jquery.nodoubletapzoon.js"></script>
<script language="javascript" type="text/javascript" src="/assets/js/velocity.js"></script>
<script language="javascript" type="text/javascript" src="/assets/js/jquery.flexverticalcenter.js"></script>
<script language="javascript" type="text/javascript" src="/assets/js/enquire.min.js"></script>
<script language="javascript" type="text/javascript" src="/assets/js/functions.js"></script>

<!--Stylesheet-->
<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />

</head>

<body> 
	
	<!-- Preloader -->
	<div id="preloader">
	    <div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>
	</div>
	
	
	<!-- Modal Window and Welcome Message -->
	<div id="modal">
		<div id="welcomeMessage">
			<h1>Hi {{ name }}!</h2>
			<p><span class="messageCue"></span></p>
			<a href="#" id="playButton"><span>Play</span></a>
		</div>
	</div>
	
	
	<!-- Audio Object -->
	<audio id="ewSong"> 
		<source src="../../assets/sound/ewjingle.ogg" type="audio/ogg">
		<source src="../../assets/sound/ewjingle.mp3" type="audio/mpeg">
		<source src="../../assets/sound/ewjingle.aac" type="audio/aac">
	</audio>
	
	
	<!-- Turntable -->
	<div id="turntableContainer">
		<div id="pivot"></div>
		<div id="spindle"></div>
		<div id="tonearm"></div>
		<div id="record"></div>
	</div>

</body>

</html>
