<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>THE EW GAMES POINT AWARDER</title>
	
	<!-- Scripts -->
	<script src="/assets/points/js/jquery-1.9.1.min.js"></script>
	<script src="/assets/points/js/functions.js"></script>
	<script src="/assets/points/js/jquery.cycle2.min.js"></script>
	<script src="/assets/points/js/addtohomescreen.min.js"></script>
	
	
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/points/css/styles.css" />
	
</head>

<body class="login">
	
	<div id="logoContainer">
		
		
	</div>
	
	<h1 class="welcome">Point Awarder</h1>
	
	<form id="loginForm" action="#" method="post">
		
		<div id="fieldsContainer">
			<input id="email" type="text" name="email" placeholder="Email Address" style="margin-bottom: 4%;">
			<input id="password" type="password" name="password" placeholder="Password">
		</div>
		
		<button type="submit" id="loginButton" value="Login" form="loginForm">Login</button>
	
	</form>

</body>

</html>