<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Enterprise World 2017 Expo</title>

	<!-- Scripts -->
	<script src="/assets/leaderboard/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/leaderboard/js/functions-mobile.js"></script>
	<script src="/assets/leaderboard/js/scoreboard.js"></script>
	
	<script>
	
	$(document).ready(function() {	
		
		//Countdown
		function updateTimer(){
		    // Get the element to append to
		    var counter = document.getElementById("countdown");
		    // Set the targetDate
		    var targetDate = new Date("July 10, 2017 7:00");
		
		    var remainingSeconds = ~ ~((targetDate - new Date()) / 1000);
		    
		    var hours = remainingSeconds / (60 * 60 * 24);
		    var days = (remainingSeconds % (60 * 60 * 24)) / (60 * 60);
		    var mins = (remainingSeconds % (60 * 60)) / 60;
		    
		    var remainingTime = {
		        "<span class='units'>hours</span><br/>": (remainingSeconds % (60 * 60 * 24)) / (60 * 60),
		        "<span class='units'>mins</span><br/>": (remainingSeconds % (60 * 60)) / 60,
		        "<span class='units'>secs</span>": remainingSeconds % 60
		    };
		
		    var str = "";
		    for (var i in remainingTime) {
		        str += ~ ~remainingTime[i] + " " + i + "";
		    }
		    // Store the result in the element
		    counter.innerHTML = str.substring(0, str.length - 7);
		 }
		
		 // Update the timer every 1 second
		 setInterval(updateTimer, 1000);
		
	});
		
	</script>
	
	
	
	<!-- Tyepkit -->
	<script src="https://use.typekit.net/oae8zyf.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/mobile/css/styles.css" />

</head>

<body>

<header><img src="/assets/leaderboard/img/ew-games-logo.png" alt="The EW Games" /></header>

<body class="comingSoon">
	
	<h1>The Enterprise<br>World Games will<br/>commence in:</h1>
	<h1 id="countdown"></h1>

</body>


</body>
<html>