<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>THE EW GAMES LEADERBOARDS</title>
	
	<!-- Scripts -->
	<script src="/assets/mobile/js/jquery-1.9.1.min.js"></script>
	<script src="/assets/mobile/js/functions.js"></script>
	<script src="/assets/mobile/js/isotope.pkgd.min.js"></script>
	<script src="/assets/mobile/js/jquery.cycle2.min.js"></script>
	<script src="/assets/mobile/js/jquery.cycle2.swipe.min.js"></script>
	<script src="/assets/mobile/js/mobile-scoreboard.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/mobile/css/styles.css" />
	
</head>

<body>
	
	<!-- Title -->
	<div id="titleBlock">
		
		<div id="headings">
			<h2>LEADERBOARD</h2>
			<h1 class="cycle-caption"></h1>
		</div>
		
	</div>

	
	<!-- Carousel Container for all slides on video wall -->
	<div id="videoWall" data-cycle-fx="scrollHorz" data-cycle-manual-speed="200" data-cycle-swipe=true data-cycle-slides="> div" data-cycle-caption=".cycle-caption" data-cycle-caption-template="{{'{{cycleTitle}}'}}" data-cycle-pager="#pager">
		
		<!-- Overall Leaderboard -->
		<div class="slide" data-cycle-timeout="5000" data-cycle-title="Overall by Team">
		
			<div class="leaderboard">
				<div class="rankings">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
				</div>
				<div class="rowAlt">
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
				</div>
				<div class="teamRow">
					<span class="rank blue"></span>
					<span class="icon bl"></span>
					<span class="teamName">Team Blue</span>
					<span class="points" id="blPoints">1000000</span>
				</div>
				<div class="teamRow">
					<span class="rank purple"></span>
					<span class="icon pl"></span>
					<span class="teamName">Team Purple</span>
					<span class="points" id="plPoints">1000000</span>
				</div>
				<div class="teamRow">
					<span class="rank green"></span>
					<span class="icon gr"></span>
					<span class="teamName">Team Green</span>
					<span class="points" id="grPoints">4000000</span>
				</div>
				<div class="teamRow">
					<span class="rank orange"></span>
					<span class="icon or"></span>
					<span class="teamName">Team Orange</span>
					<span class="points" id="orPoints">5000000</span>
				</div>
				<div class="teamRow">
					<span class="rank teal"></span>
					<span class="icon tl"></span>
					<span class="teamName">Team Teal</span>
					<span class="points" id="tlPoints">2000000</span>
				</div>
			</div>
			
		</div><!-- End Overall Leaderboard -->
		
		
		
		<!-- Individual Leaderboard -->
		<div class="slide" data-cycle-timeout="5000" data-cycle-title="Overall by Individual">
		
			<div class="leaderboard" id="individualLeaderboard">
				<div class="rankings">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
				</div>
				<div class="rowAlt">
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
				</div>
				
			</div>
			
		</div><!-- End Overall Leaderboard <--></-->
		
		
		
		<div class="slide" data-cycle-timeout="5000" data-cycle-title="Top Individuals on Team #BL">
		
			<div class="leaderboard" id="blueteam">
				<div class="rankings">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
				</div>
				<div class="rowAlt">
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
				</div>
				
            </div>				
		</div><!-- End slide -->
		
		
		<!-- Green Leaderboard -->
		<div class="slide" data-cycle-timeout="5000" data-cycle-title="Top Individuals on Team #GR">
			
			<div class="leaderboard" id="greenteam">
				<div class="rankings">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
				</div>
				<div class="rowAlt">
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
				</div>
				
				
			</div>
						
		</div><!-- End slide -->
		
		
		<!-- Teal Leaderboard -->
		<div class="slide" data-cycle-timeout="5000" data-cycle-title="Top Individuals on Team #TL">
			
			<div class="leaderboard" id="tealteam">
				<div class="rankings">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
				</div>
				<div class="rowAlt">
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
				</div>
							</div>
						
		</div><!-- End slide -->
		
		
		<!-- Purple Leaderboard -->
		<div class="slide" data-cycle-timeout="5000" data-cycle-title="Top Individuals on Team #PL">
			
			<div class="leaderboard" id="purpleteam">
				<div class="rankings">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
				</div>
				<div class="rowAlt">
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
				</div>
							</div>
						
		</div><!-- End slide -->
		
		
		<!-- Orange Leaderboard -->
		<div class="slide" data-cycle-timeout="5000" data-cycle-title="Top Individuals on Team #OR">

			<div class="leaderboard" id="orangeteam">
				<div class="rankings">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
				</div>
				<div class="rowAlt">
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
					<span></span>
					<span class="even"></span>
				</div>
							</div>
						
		</div><!-- End slide -->
		
	</div><!-- End Video Wall -->
	
	<!-- Pager -->
	<div id="pager">
		
	</div>
	
	<!-- Powered By AppWorks -->
	<div id="appWorks">
		
	</div>

</body>
<script>

$(document).ready(function () {

	getScore();
	
});
</script>
</html>