<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Enterprise World 2017 Expo</title>

	<!-- Scripts -->
	<script src="/assets/leaderboard/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/leaderboard/js/functions-mobile.js"></script>
	<<script src="/assets/leaderboard/js/scoreboard.js"></script>
	
	
	<!-- Tyepkit -->
	<script src="https://use.typekit.net/oae8zyf.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/mobile/css/styles.css" />

</head>

<body>


<body class="comingSoon">
	
	<img src="img/ew-games-crest.png" id="comingSoonLogo"/>
	
	<h1>The EW Games will <br />commence in:</h1>
	
	<div id="countdown"></div>

</body>


</body>
<html>