<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta nAMe="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  
<title>Enterprise World 2016</title>

	<!--Scripts-->
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery-1.11.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/velocity.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.onepage-scroll.min.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.easing.1.3.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.cycle2.min.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.cycle2.scrollVert.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.idle-timer.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.cycle2.swipe.min.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery-ui.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/taphold.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.ui.touch-punch.min.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/GALocalStorage.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.storageapi.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/taphold.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.mCustomScrollbar.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/jquery.color.js"></script>
	<script language="javascript" type="text/javascript" src="/assets/touch/js/mainFunctions.js"></script>
	
	<!--Stylesheet-->
	<link rel="stylesheet" href="/assets/touch/css/normalize.css" type="text/css" />
	<link rel="stylesheet" href="/assets/touch/css/styles.css" type="text/css" />
	<link rel="stylesheet" href="/assets/touch/css/jquery.mCustomScrollbar.css" type="text/css" />
	
</head>

<body>
	
	<div id="modal">
		<div id="dialog">
			<h5>Are you still there?</h5>
			<span class="reset">This kiosk will reset in <span id="number">15</span> seconds</span>
			<a id="okbutton" href="#">Touch anywhere to resume</a>
		</div>
	</div>
	
	<!--Fixed Position Header-->
	<div id="header">
		
		<!--Titles for each section-->
		<div id="sectionHeader" class="cycle-slideshow" data-cycle-fx="scrollVert" data-cycle-slides="h1" data-cycle-speed="200" data-cycle-timeout=0>
			<h1></h1>
			<h1>Agenda</h1>
			<h1>Venue Map</h1>
			<h1>Enterprise Expo</h1>
			<h1>Networking</h1>
			<h1>Social</h1>
			<h1>The EW Games</h1>
			<h1>Sponsors</h1>
		</div>
		
		<!--Titles for each section--> 
				
		<div id="menuButton">
			<span></span>
			<span></span>
			<span></span>
		</div>
		
		<div id="homeButton">
			
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
			<style type="text/css">
				.st1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
				/* .st1{fill:#000000;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} */
			</style>
			<polygon class="st1" points="29.2,39.1 29.2,32.7 22.8,32.7 22.8,39.1 16.9,39.1 16.9,26.7 12.2,26.7 26,12.9 39.8,26.7 35.1,26.7 
				35.1,39.1 "/>
			</svg>

			
		</div>

	</div>
	
	
	<!--Slide Out menu-->
	<div id="slideMenu" class="hide">
		<ul>
		<li><a href"#" data-index="1" class="sideMenuHome">Home</a></li>
		<li><a href"#" data-index="2" class="sideMenuAgenda">Agenda<div class="notificationContainer notificationBadgeMenu"></div></a></li>
		<li><a href"#" data-index="3" class="sideMenuVenueMap">Venue Map</a></li>
		<li><a href"#" data-index="4" class="sideMenuEnterpriseExpo">Enterprise Expo</a></li>
		<li><a href"#" data-index="5" class="sideMenuNetworking">Networking</a></li>
		<li><a href"#" data-index="6" class="sideMenuSocial">Social</a></li>
		<li><a href"#" data-index="7" class="sideMenuTeamTweet">The EW Games</a></li>
		<li><a href"#" data-index="8" class="sideMenuSponsors">Sponsors</a></li>
		</ul>
	</div>
	
	<!--OTEW2015 Logo-->
	<div id="ewlogo"><img src="assets/logo-otew2016.svg" border="0" alt="" /></div>
		
		
		<article class="main">
		
		
		<!--Home Section-->	
		<section id="home" class="page1">
			<div class="wrapper">
				
				<div id="ewtagline">
				<img src="assets/logo-tagline-sta.svg" border="0" alt="" />
				</div>
				
				<nav>
				<ul id="homemenu">
				<li id="homemenu-agenda" class="homescreen-button">			<a href"#" data-index="2"><div id="homemenu-agenda-icon" class="icon"></div><div class="notificationContainer notificationBadgeHome"></div>Agenda</a></li>
				<li id="homemenu-venuemap" class="homescreen-button">		<a href"#" data-index="3"><div id="homemenu-venuemap-icon" class="icon"></div>		Venue Map</a></li>
				<li id="homemenu-enterpriseexpo" class="homescreen-button">	<a href"#" data-index="4"><div id="homemenu-enterpriseexpo-icon" class="icon"></div>Enterprise Expo</a></li>
				<li id="homemenu-networking" class="homescreen-button">		<a href"#" data-index="5"><div id="homemenu-networking-icon" class="icon"></div>	Networking</a></li>
				<li id="homemenu-social" class="homescreen-button">			<a href"#" data-index="6"><div id="homemenu-social-icon" class="icon"></div>		Social</a></li>
				<li id="homemenu-teamtweet" class="homescreen-button">		<a href"#" data-index="7"><div id="homemenu-teamtweet-icon" class="icon"></div>		The EW Games</a></li>
				<li id="homemenu-sponsors" class="homescreen-button">		<a href"#" data-index="8"><div id="homemenu-sponsors-icon" class="icon"></div>		Sponsors</a></li>
				</ul>
				</nav>
				
			</div>
		</section>
		
		
		<!--Agenda Section-->	
		<section id="sectionAgenda" class="page2">
			<div class="wrapper">
				
			<!--Sidebar -->
			<div class="sidebar">
				<ul id="agendaMenu" class="subMenu">
					<li><a href="#" id="agendaHome" data-agenda="0" class="subMenuSelected">Home</a></li>
					<li><a href="#" id="agendaOverview" data-agenda="1">Overview</a></li>
					<li><a href="#" id="agendaUpdates" data-agenda="2">Updates<div class="notificationContainer notificationBadgeMenu"></div></a></li>
					<li><a href="#" id="agendaSunday" data-agenda="3">Sunday</a></li>
					<li><a href="#" id="agendaMonday" data-agenda="4">Monday</a></li>
					<li><a href="#" id="agendaTuesday" data-agenda="5">Tuesday</a></li>
					<li><a href="#" id="agendaWednesday" data-agenda="6">Wednesday</a></li>
					<li><a href="#" id="agendaThursday" data-agenda="7">Thursday</a></li>
					<li><a href="#" id="agendaFriday" data-agenda="8">Friday</a></li>
					<li><a href="#" id="agendaSAPTracks" data-agenda="9">SAP Tracks</a></li>
					<li><a href="#" id="agendaInnovationLab" data-agenda="10">Innovation Lab</a></li>
					<li><a href="#" id="agendaDeveloper" data-agenda="11">Developer Lab</a></li>
				</ul>
			</div>
			
			<!--Content Area-->
			<div class="contentContainer col6">
				
				<!-- Carousel with divs for scheduling -->
				<div id="carouselAgenda" class="cycle-slideshow" data-cycle-fx="scrollVert" data-cycle-slides="div.agendaSlide" data-cycle-speed="300" data-cycle-timeout=0>
					<div class="agendaSlide noScroll">
						<img src="assets/agenda-home.png" alt="" />
					</div>
					
					<div class="agendaSlide noScroll">
						<img src="assets/agenda-overview.png" alt="" />
					</div>
					
					<div class="agendaSlide noScroll">
						<iframe id="updateFrame"></iframe>
					</div>
					
					<div class="agendaSlide">
						
						<table class="agendaTable">
							<tr>
								<th colspan="3">Sunday, November 8</th>
							</tr>
							<tr class="agendaRow highlight">
								<td class="agendaCol agendaTime">7:00AM - 9:00PM</td>
								<td class="agendaCol agendaDescription">REGISTRATION</td>
								<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">7:30AM - 9:00AM</td>
								<td class="agendaCol agendaDescription">TRAINING BREAKFAST</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">9:00AM - 12:00PM</td>
								<td class="agendaCol agendaDescription">TRAINING</td>
								<td class="agendaCol agendaLocation">As posted</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
								<td class="agendaCol agendaDescription">TRAINING LUNCH</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">1:00PM - 5:00PM</td>
								<td class="agendaCol agendaDescription">TRAINING</td>
								<td class="agendaCol agendaLocation">As posted</td>
							</tr>
						</table>

					</div>
					
					<div class="agendaSlide">
						
						<table class="agendaTable">
							<tr>
								<th colspan="3">Monday, November 9</th>
							</tr>
							<tr class="agendaRow highlight">
								<td class="agendaCol agendaTime">7:00AM - 8:00PM</td>
								<td class="agendaCol agendaDescription">REGISTRATION</td>
								<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">7:30AM - 8:30AM</td>
								<td class="agendaCol agendaDescription">PARTNER SUMMIT BREAKFAST</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">7:30AM - 9:00AM</td>
								<td class="agendaCol agendaDescription">TRAINING BREAKFAST</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">8:30AM - 12:00PM</td>
								<td class="agendaCol agendaDescription">PARTNER SUMMIT GENERAL SESSION</td>
								<td class="agendaCol agendaLocation">Room 317</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">9:00AM - 12:00PM</td>
								<td class="agendaCol agendaDescription">TRAINING</td>
								<td class="agendaCol agendaLocation">As posted</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">9:00AM - 5:00PM</td>
								<td class="agendaCol agendaDescription">INNOVATION LAB</td>
								<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">12:00PM - 5:00PM</td>
								<td class="agendaCol agendaDescription">DEVELOPER LAB</td>
								<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
								<td class="agendaCol agendaDescription">TRAINING LUNCH</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
								<td class="agendaCol agendaDescription">PARTNER SUMMIT LUNCH</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">1:00PM - 5:00PM</td>
								<td class="agendaCol agendaDescription">TRAINING</td>
								<td class="agendaCol agendaLocation">As posted</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">1:00PM - 4:30PM</td>
								<td class="agendaCol agendaDescription">PARTNER SUMMIT GENERAL SESSION</td>
								<td class="agendaCol agendaLocation">Room 317</td>
							</tr>
							<tr class="agendaRow highlight">
								<td class="agendaCol agendaTime">7:00PM - 10:00PM</td>
								<td class="agendaCol agendaDescription">PARTNER SUMMIT GENERAL SESSION</td>
								<td class="agendaCol agendaLocation">Hakkasan Nightclub</td>
							</tr>
						</table>				
						
					</div>
					
					<div class="agendaSlide">
						
						<table class="agendaTable">
							<tr>
								<th colspan="3">Tuesday, November 10</th>
							</tr>
							<tr class="agendaRow highlight">
								<td class="agendaCol agendaTime">7:00AM - 8:00PM</td>
								<td class="agendaCol agendaDescription">REGISTRATION</td>
								<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">7:30AM - 8:30AM</td>
								<td class="agendaCol agendaDescription">PARTNER SUMMIT BREAKFAST</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">7:30AM - 8:30AM</td>
								<td class="agendaCol agendaDescription">RAINING BREAKFAST</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">8:30AM - 10:00AM</td>
								<td class="agendaCol agendaDescription">Partner Summit General Session</td>
								<td class="agendaCol agendaLocation">As Posted</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">10:30AM - 12:00AM</td>
								<td class="agendaCol agendaDescription">Partner Summit Breakout Sessions</td>
								<td class="agendaCol agendaLocation">As Posted</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">9:00AM - 12:00PM</td>
								<td class="agendaCol agendaDescription">TRAINING</td>
								<td class="agendaCol agendaLocation">As Posted</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">9:00AM - 5:00PM</td>
								<td class="agendaCol agendaDescription">INNOVATION LAB</td>
								<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">9:00AM - 5:00PM</td>
								<td class="agendaCol agendaDescription">DEVELOPER LAB</td>
								<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
								<td class="agendaCol agendaDescription">TRAINING LUNCH</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
								<td class="agendaCol agendaDescription">PARTNER SUMMIT LUNCH</td>
								<td class="agendaCol agendaLocation">Grand Pool</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">1:00PM - 4:30PM</td>
								<td class="agendaCol agendaDescription">PARTNER SUMMIT BREAKOUT SESSIONS</td>
								<td class="agendaCol agendaLocation">As Posted</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">1:00PM - 5:00PM</td>
								<td class="agendaCol agendaDescription">TRAINING</td>
								<td class="agendaCol agendaLocation">As Posted</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">5:00PM - 9:00PM</td>
								<td class="agendaCol agendaDescription">ENTERPRISE WORLD KICK OFF & WELCOME RECEPTION</td>
								<td class="agendaCol agendaLocation">Grand Ballroom</td>
							</tr>
							<tr class="agendaRow">
								<td class="agendaCol agendaTime">5:30PM - 7:00PM</td>
								<td class="agendaCol agendaDescription">OPENTEXT ELITE & PARTNER AWARDS (by Invitation Only)</td>
								<td class="agendaCol agendaLocation">Room 317</td>
							</tr>
						</table>
						
					</div>
					
					<div class="agendaSlide">
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">Wednesday, November 11</th>
								</tr>
								<tr class="agendaRow highlight">
									<td class="agendaCol agendaTime">7:00AM - 7:00PM</td>
									<td class="agendaCol agendaDescription">REGISTRATION</td>
									<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">7:00AM - 8:15AM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKFAST</td>
									<td class="agendaCol agendaLocation">Grand Pool</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">8:30AM - 10:30AM</td>
									<td class="agendaCol agendaDescription">GENERAL SESSION KEYNOTES</td>
									<td class="agendaCol agendaLocation">Marquee Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">10:30AM - 11:00AM</td>
									<td class="agendaCol agendaDescription">MORNING BREAK</td>
									<td class="agendaCol agendaLocation">Walkway to Marquee Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">11:00AM - 12:00PM</td>
									<td class="agendaCol agendaDescription">GENERAL SESSION KEYNOTES</td>
									<td class="agendaCol agendaLocation">Marquee Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE LUNCH</td>
									<td class="agendaCol agendaLocation">Grand Pool</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
									<td class="agendaCol agendaDescription">ENTERPRISE EXPO</td>
									<td class="agendaCol agendaLocation">Grand Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
									<td class="agendaCol agendaDescription">INNOVATION LAB</td>
									<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
									<td class="agendaCol agendaDescription">DEVELOPER LAB</td>
									<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">1:00PM - 2:20PM</td>
									<td class="agendaCol agendaDescription">GENERAL SESSION TRACK KEYNOTES</td>
									<td class="agendaCol agendaLocation">Marquee Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">2:40PM - 7:30PM</td>
									<td class="agendaCol agendaDescription">ENTERPRISE EXPO</td>
									<td class="agendaCol agendaLocation">Grand Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">2:40PM - 7:30PM</td>
									<td class="agendaCol agendaDescription">INNOVATION LAB</td>
									<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">2:40PM - 7:30PM</td>
									<td class="agendaCol agendaDescription">DEVELOPER LAB</td>
									<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">2:40PM - 3:10PM</td>
									<td class="agendaCol agendaDescription">AFTERNOON BREAK</td>
									<td class="agendaCol agendaLocation">Grand Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">2:40PM - 3:30PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKOUT SESSIONS</td>
									<td class="agendaCol agendaLocation">As Posted</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">3:40PM - 4:30PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKOUT SESSIONS</td>
									<td class="agendaCol agendaLocation">As Posted</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">4:40PM - 5:30PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKOUT SESSIONS</td>
									<td class="agendaCol agendaLocation">As Posted</td>
								</tr>
								<tr class="agendaRow highlight">
									<td class="agendaCol agendaTime">5:30PM - 7:30PM</td>
									<td class="agendaCol agendaDescription">ENTERPRISE EXPO RECEPTION</td>
									<td class="agendaCol agendaLocation">Grand Ballroom</td>
								</tr>
							</table>
							
							<br /><br />
							
							<h6>Wednesday Breakouts</h6>
							
							<br />
							
							<table class="breakoutTable">
								<tr>
									<th colspan="2">GENERAL SESSIONS: 8:30AM – 12:00AM Marquee Ballroom</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">Opening Keynote:</td>
									<td class="agendaCol agendaBreakoutDescription">
									<strong>Mark J. Barrenechea,</strong><br />
									OpenText President and CEO</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">Keynote:</td>
									<td class="agendaCol agendaBreakoutDescription">
									<strong>Muhi Majzoub, </strong><br />
									OpenText Senior Vice President, Engineering</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">Guest Speakers:</td>
									<td class="agendaCol agendaBreakoutDescription">
										<strong>Mike Myers</strong><br />
										<strong>Eberhard Ruess,</strong> Nestlé<br />
										<strong>Bev Kite,</strong> Academy of Motion Picture Arts and Sciences<br /> 
										<strong>Garrett Boss,</strong> FOX<br />
										<strong>Rajesh Agrawal,</strong> Disney Imagineering
									</td>
								</tr>
							</table>
							
							<br /><br />
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">2:40PM - 3:30PM</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ALX-200 Information Design Best Practices</td>
									<td class="agendaCol agendaLocation">Room 113</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">BPM-100 Process Suite Overview, Strategy, and Roadmap</td>
									<td class="agendaCol agendaLocation">Room 106</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">CEM-100 Driving Adoption at 21st Century Fox - Roll-out to the Business User</td>
									<td class="agendaCol agendaLocation">Room 103</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">DSC-400 Customer Story: When Emails Matter—Using Technology to Categorize File Content</td>
									<td class="agendaCol agendaLocation">Room 107</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">EIM-411 Analyst Insight: Creating the Optimal Digital Workplace Strategy</td>
									<td class="agendaCol agendaLocation">Room 314/315</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-401 Product Update: OpenText Core - Business-Ready File Sharing & Collaboration in the Cloud</td>
									<td class="agendaCol agendaLocation">Room 104</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">EIM-411 Analyst Insight: Creating the Optimal Digital Workplace Strategy</td>
									<td class="agendaCol agendaLocation">Room 314/315</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol agendaDescription">ECM-400 Product Update: Content Suite – The Year in Review and Getting Ready for Suite 16!</td>
									<td class="agendaCol agendaLocation">Room 301/302</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-201 Tech Talk: Upgrading to Content Server 10.5 (and soon 16)</td>
									<td class="agendaCol agendaLocation">Room 109/110</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-406 Product Update: Transform your Organization by Putting the X in ECM</td>
									<td class="agendaCol agendaLocation">Room 101</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">SAP-401 Simplify. Run Digital. Making Digital Transformation Work Across the Enterprise - Panel</td>
									<td class="agendaCol agendaLocation">Room 114</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-401 Gain Total Supply Chain Visibility with OpenText Active Orders</td>
									<td class="agendaCol agendaLocation">Room 112</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-402 Optimize Your Fax Investment; A Hybrid Software/Cloud Strategy for Flexibility & Savings</td>
									<td class="agendaCol agendaLocation">Room 108</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">EDC-120 Beyond eDOCS DM 10: eDOCS Strategy and Vision</td>
									<td class="agendaCol agendaLocation">Room 312/317</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">CLD-402 Building Your Cloud Strategy Featuring Forrester Research</td>
									<td class="agendaCol agendaLocation">Room 111</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">EIM-501 Building an Effective & Actionable Knowledge Management Strategy - Deloitte's KM FrAMework</td>
									<td class="agendaCol agendaLocation">Room 102</td>
								</tr>
							</table>
							
							<br /><br />
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">3:40PM - 4:30PM</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">CEM-210 Designing a Strategy & Architecture to Support Your Digital Experience Ecosystem</td>
									<td class="agendaCol agendaLocation">Room 101</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ALX-100 Making Sense of Big and Small Data</td>
									<td class="agendaCol agendaLocation">Room 111</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;" /></td>
									<td class="agendaCol cloudDescription">BPM-200 Agile Business Solutions with Process Suite</td>
									<td class="agendaCol agendaLocation">Room 107</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-200 Product Update: Newest Advances and Future Developments in Content Server</td>
									<td class="agendaCol agendaLocation">Room 109/110</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-408 Analyst Insight: Managing Enterprise Content in the Context of Salesforce</td>
									<td class="agendaCol agendaLocation">Room 301/302</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-403 Analyst Insight: Best Practices for ECM User Adoption</td>
									<td class="agendaCol agendaLocation">Room 314/315</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-120  Product Update: AGA & SharePoint Services for Extended ECM</td>
									<td class="agendaCol agendaLocation">Room 106</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">SAP-402 Simplify Your Business - Business Solutions, Solution Accelerators and Demo Jam</td>
									<td class="agendaCol agendaLocation">Room 114</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECO-410 Extended ECM for Oracle E-Business Update – Featuring  Dover Corporation</td>
									<td class="agendaCol agendaLocation">Room 112</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-404 Bring B2B to the C-Suite: How B2B Integration Accelerates Your Corporate Strategies</td>
									<td class="agendaCol agendaLocation">Room 103</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">EDC-101 Call Security! The  Current Needs of Law Firms and Corporate Legal</td>
									<td class="agendaCol agendaLocation">Room 312/317</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">EDC-101 Call Security! The  Current Needs of Law Firms and Corporate Legal</td>
									<td class="agendaCol agendaLocation">Room 312/317</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">CLD-400 How Managed Cloud Services Drives Essential Benefits In Your Cloud Strategy</td>
									<td class="agendaCol agendaLocation">Room 113</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">CEM-500 Accelerating DAM Maturity to Meet Evolving Business Initiatives</td>
									<td class="agendaCol agendaLocation">Room 102</td>
								</tr>
							</table>
							
							<br /><br />
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">4:40PM - 5:30PM</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">EDC-200 Extract Content Analytics using Meaningful Metrics with eDOCS</td>
									<td class="agendaCol agendaLocation">Room 312/317</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ALX-201 Powering Your Data-Driven App with Embedded Analytics</td>
									<td class="agendaCol agendaLocation">Room 111</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">BPM-201 Building Applications with Entity Modeling</td>
									<td class="agendaCol agendaLocation">Room 107</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">CEM-102 B2B vs B2C: Head-to-Head Panel Discussion on Driving Customer Adoption Across the Enterprise</td>
									<td class="agendaCol agendaLocation">Room 103</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-405 Product Update: OpenText Archive Center Has Launched! Get Your First Look Here!</td>
									<td class="agendaCol agendaLocation">Room 101</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-204 Product Update: Simplifying Your Info Gov Reference Model with Records Management</td>
									<td class="agendaCol agendaLocation">Room 106</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-202 Product Update: Enterprise Connect-Making ECM Easy for Your Users</td>
									<td class="agendaCol agendaLocation">Room 109/110</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-409 Analyst Insight: The Benefits of Integrating ECM Into Your Transactional Content</td>
									<td class="agendaCol agendaLocation">Room 314/315</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECO-200 Simplify Your Platform: OpenText Strategy & Roadmap for SAP, Microsoft, Oracle & Beyond</td>
									<td class="agendaCol agendaLocation">Room 114</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-410 How OpenText and SAP are Joining Forces to Optimize Spend Management</td>
									<td class="agendaCol agendaLocation">Room 112</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-411 Intelligent Capture: Simplify, Transform & Accelerate Your Data Capture Process</td>
									<td class="agendaCol agendaLocation">Room 108</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">CLD-404 Upgrade Content Server into the OpenText Cloud</td>
									<td class="agendaCol agendaLocation">Room 301/302</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">EIM-402 A Day in the Life - Big Data Analytics in the Cloud Implementation</td>
									<td class="agendaCol agendaLocation">Room 113</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-504 A Case Study:  Process Improvements Using xECM and Content Server Workflow</td>
									<td class="agendaCol agendaLocation">Room 102</td>
								</tr>

							</table>


					</div>
					
					<div class="agendaSlide">
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">Thursday, November 12</th>
								</tr>
								<tr class="agendaRow highlight">
									<td class="agendaCol agendaTime">7:00AM - 7:00PM</td>
									<td class="agendaCol agendaDescription">REGISTRATION</td>
									<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">7:00AM - 8:15AM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKFAST</td>
									<td class="agendaCol agendaLocation">Grand Pool</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">7:00AM - 8:15AM</td>
									<td class="agendaCol agendaDescription">DEVELOPER BREAKFAST</td>
									<td class="agendaCol agendaLocation">Premier Ballroom 316</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">8:30AM - 10:30AM</td>
									<td class="agendaCol agendaDescription">GENERAL SESSION KEYNOTES</td>
									<td class="agendaCol agendaLocation">Marquee Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">10:30AM - 11:10AM</td>
									<td class="agendaCol agendaDescription">MORNING BREAK</td>
									<td class="agendaCol agendaLocation">Breakout Session Foyers</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">10:30AM - 5:00PM</td>
									<td class="agendaCol agendaDescription">ENTERPRISE EXPO</td>
									<td class="agendaCol agendaLocation">Grand Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">10:30AM - 5:00PM</td>
									<td class="agendaCol agendaDescription">INNOVATION LAB</td>
									<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">10:30AM - 5:00PM</td>
									<td class="agendaCol agendaDescription">DEVELOPER LAB</td>
									<td class="agendaCol agendaLocation">Grand Ballroom Foyer</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">11:10AM - 12:00PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKOUT SESSIONS</td>
									<td class="agendaCol agendaLocation">As posted</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">12:00PM - 1:00PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE LUNCH</td>
									<td class="agendaCol agendaLocation">Grand Pool</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">1:00PM - 1:50PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKOUT SESSIONS</td>
									<td class="agendaCol agendaLocation">As posted</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">2:00PM - 2:50PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKOUT SESSIONS</td>
									<td class="agendaCol agendaLocation">As posted</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">2:00PM - 2:50PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKOUT SESSIONS</td>
									<td class="agendaCol agendaLocation">As posted</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">2:50PM - 3:10PM</td>
									<td class="agendaCol agendaDescription">AFTERNOON BREAK</td>
									<td class="agendaCol agendaLocation">Grand Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">3:10PM - 4:00PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKOUT SESSIONS</td>
									<td class="agendaCol agendaLocation">As posted</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">4:10PM - 5:00PM</td>
									<td class="agendaCol agendaDescription">CONFERENCE BREAKOUT SESSIONS</td>
									<td class="agendaCol agendaLocation">As posted</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">5:00PM - 6:00PM</td>
									<td class="agendaCol agendaDescription">ENTERPRISE EXPO - CLOSING RECEPTION</td>
									<td class="agendaCol agendaLocation">Grand Ballroom</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">6:30PM</td>
									<td class="agendaCol agendaDescription">TRANSPORATION TO OFFSITE EVENT</td>
									<td class="agendaCol agendaLocation">Main Entrance of the Conference Center</td>
								</tr>
								<tr class="agendaRow highlight">
									<td class="agendaCol agendaTime ">7:00PM - 10:00PM</td>
									<td class="agendaCol agendaDescription">OFFSITE EVENT (Show your badge to attend)<br /><em>Must be 21+ and have Valid Photo ID for entry.</em></td>
									<td class="agendaCol agendaLocation">OMNIA</td>
								</tr>
							</table>
							
							<br /><br />
							
							<h6>Thursday Breakouts</h6>
							
							<br />
							
							<table class="breakoutTable">
								<tr>
									<th colspan="2">8:30AM – 10:30AM Marquee Ballroom</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">Welcome:</td>
									<td class="agendaCol agendaBreakoutDescription">
									<strong>Adam Howatson,</strong><br />
									CMO, OpenText</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">Keynote:</td>
									<td class="agendaCol agendaBreakoutDescription">
									<strong>Mark Barrenechea,</strong><br /> 
									OpenText President and CEO</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">Guest Speakers:</td>
									<td class="agendaCol agendaBreakoutDescription">
										<strong>Rodolpho Cardenuto,</strong>  SAP
										<strong>Bill Briggs,</strong>  Deloitte Consulting LLP
									</td>
								</tr>
							</table>
							
							<br /><br />
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">11:10AM - 12:00PM</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt=""/></td>
									<td class="agendaCol cloudDescription">EDC-210 Understanding Your Business Needs When Evaluating a Document Management System</td>
									<td class="agendaCol agendaLocation">Room 312/317</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ALX-400 Analytics & Digital Asset Management - Creating a Complete View of Content & Customers</td>
									<td class="agendaCol agendaLocation">Room 111</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">CEM-200 Tech Talk: Upgrading to Web Experience Management 10.5 (& Insights to v16)</td>
									<td class="agendaCol agendaLocation">Room 101</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-430 Panel Discussion: Digital Transformation in the Public Sector - It's All about the Base!</td>
									<td class="agendaCol agendaLocation">Room 301/302</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-433 OpenText Content Suite + OpenText Core – Better Together</td>
									<td class="agendaCol agendaLocation">Room 109/110</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-416 Analyst Insight: Transform Customer Experiences by Going Digital Outside & Inside</td>
									<td class="agendaCol agendaLocation">Room 113</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-210  Product Update: Seeing is Believing: Experience the New Content Server UI</td>
									<td class="agendaCol agendaLocation">Room 107</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">SAP-412 Simplify Digitization and Automation of Information Flows Inside & Outside the Enterprise</td>
									<td class="agendaCol agendaLocation">Room 114</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-422 Future Proof Your Payments Environment</td>
									<td class="agendaCol agendaLocation">Room 108</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-420 On Premise B2B & MFT: Consolidate your Integration Strategy to Reap New Benefits</td>
									<td class="agendaCol agendaLocation">Room 112</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">CLD-410 OpenText Cloud Strategy and Roadmap</td>
									<td class="agendaCol agendaLocation">Room 314/315</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">EIM-200 OTDS - What's Coming, Migration, & Advanced Authentication</td>
									<td class="agendaCol agendaLocation">Room 106</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-500 Achieve Global Alignment: Document Planning & Control Processes with OpenText Technologies</td>
									<td class="agendaCol agendaLocation">Room 102</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">BPM-400 Manage, Track &  Measure the Performance of Procurement to Drive Business Results</td>
									<td class="agendaCol agendaLocation">Room 103</td>
								</tr>
							</table>
							
							<br /><br />
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">1:00PM - 1:50PM</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">EDC-100 eDOCS: Experience from the Trenches</td>
									<td class="agendaCol agendaLocation">Room 312/317</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ALX-220 Blending Structured & Unstructured Data to Create New Insights and Smarter Decisions</td>
									<td class="agendaCol agendaLocation">Room 108</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">BPM-300 Maximizing Process-Centric Information</td>
									<td class="agendaCol agendaLocation">Room 112</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">CEM-110 Fireside Chat with DCG & Parker-Hannifin: Developing & Executing a Digital Content Strategy</td>
									<td class="agendaCol agendaLocation">Room 111</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-411 Customer Story: Voith IT Solutions Content Integration for Varied ERP Systems</td>
									<td class="agendaCol agendaLocation">Room 314/315</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-122 Product Update: Introducing OpenText Compliance & Productivity Suite for Microsoft Office 365</td>
									<td class="agendaCol agendaLocation">Room 106</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" ></td>
									<td class="agendaCol cloudDescription">ECM-402 Panel Discussion: Evolving ECM as the Foundation for Digital Transformation</td>
									<td class="agendaCol agendaLocation">301/302</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">SAP-410 Simplify Asset Management in a Digital World - Customer Case Studies: Valero & SoCalEdison</td>
									<td class="agendaCol agendaLocation">Room 114</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">SAP-420 Simplify & Accelerate SAP Financial and Procurement with Valero Customer Case Study</td>
									<td class="agendaCol agendaLocation">Room 101</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-412 Beyond Managed Services:  Driving Even Greater Value from B2B Outsourcing</td>
									<td class="agendaCol agendaLocation">Room 113</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">CLD-412 Our ECM Journey to the Cloud Featuring the New Zealand Transport Agency</td>
									<td class="agendaCol agendaLocation">Room 103</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">EIM-420 How to Measure, Accelerate and Sustain User Adoption</td>
									<td class="agendaCol agendaLocation">Room 107</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-503 Managing Change in a Controlled Document Environment</td>
									<td class="agendaCol agendaLocation">Room 109/110</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-502 The Deloitte Asset Information Management Solution: Helping to Increase Efficiency & Reduce Risk</td>
									<td class="agendaCol agendaLocation">Room 102</td>
								</tr>
							</table>
							
							<br /><br />
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">2:00PM - 2:50PM</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt=""/></td>
									<td class="agendaCol cloudDescription">ALX-110 The Future of Embedded Analytics - Wearable Data and Beyond</td>
									<td class="agendaCol agendaLocation">Room 111</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">CEM-112 New Edge of Knowledge Management in the Digital Workplace with Singapore Power</td>
									<td class="agendaCol agendaLocation">Room 101</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-413 Product Update: OpenText Engineering Document Management-Next Generation Preview</td>
									<td class="agendaCol agendaLocation">Room 109/110</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-415 Customer Story: Hydro Tasmania Right Information, Right Time, Right People</td>
									<td class="agendaCol agendaLocation">Room 314/315</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-412 Simplify your Organization’s Digital Transformation with an In-House Workshop</td>
									<td class="agendaCol agendaLocation">Room 301/302</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-214 Tech Talk: Step Behind the Scenes with Content Server 16</td>
									<td class="agendaCol agendaLocation">Room 106</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">SAP-414 Transform Customer Experience with SAP hybris & OpenText - CenterPoint Energy Case Study</td>
									<td class="agendaCol agendaLocation">Room 114</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-413 Automate the Exchange of Patient Information with the New RightFax Healthcare Direct</td>
									<td class="agendaCol agendaLocation">Room 113</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt=""/></td>
									<td class="agendaCol cloudDescription">INX-416 e-Invoicing: the Low-Hanging Fruit of Improving Operating Cost, and Much More</td>
									<td class="agendaCol agendaLocation">Room 112</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">EIM-400 Reduce Infrastructure Costs and Increase Information Security with Exceed™ Virtual Access</td>
									<td class="agendaCol agendaLocation">Room 312/317</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">EIM-410 Optimize your Investment with an OpenText Service Program</td>
									<td class="agendaCol agendaLocation">Room 107</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">EIM-500 Addressing Food Safety Enabled by OpenText</td>
									<td class="agendaCol agendaLocation">Room 102</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECO-500 Product Update: OpenText Solutions Certified to Run on Microsoft's Azure Platform</td>
									<td class="agendaCol agendaLocation">Room 108</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">BPM-401  Sizing up the Impact of Business Process Management: Customer Panel</td>
									<td class="agendaCol agendaLocation">Room 103</td>
								</tr>
							</table>
							
							<br /><br />
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">3:10PM - 4:00PM</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">BPM-301 Orchestrating Your EIM Solutions with Process Suite</td>
									<td class="agendaCol agendaLocation">Room 108</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">CEM-101 6 Ways CCM Can Maximize Engagement to Drive Profitability in the Age of the Customer - Panel</td>
									<td class="agendaCol agendaLocation">Room 314/315</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ALX-112 Reaching All Data Consumers - the State of Output Accessibility</td>
									<td class="agendaCol agendaLocation">Room 111</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-422 Product Update: Taking Control of Email with Email Management</td>
									<td class="agendaCol agendaLocation">Room 101</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-418 Managed Cloud Services for ECM: Do What You Do Best By Letting Us Do What We Do Best</td>
									<td class="agendaCol agendaLocation">Room 112</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-414 Product Update: What’s New with Brava! for Content Suite</td>
									<td class="agendaCol agendaLocation">Room 106</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-212 Tech Talk: Seeing the Whole Picture - Monitoring & Tuning Content Suite</td>
									<td class="agendaCol agendaLocation">Room 113</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-417 Panel Discussion: Strengthening the Heart of your Organization with Information Governance</td>
									<td class="agendaCol agendaLocation">Room 301/302</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">SAP-416 MAN Diesel & Turbo’s Enterprise Content & Records Management Solution – A Customer Story</td>
									<td class="agendaCol agendaLocation">Room 114</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt=""/></td>
									<td class="agendaCol cloudDescription">INX-418 Best Practices in Deploying Fax and Secure Messaging Across the Enterprise</td>
									<td class="agendaCol agendaLocation">Room 103</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt=""/></td>
									<td class="agendaCol cloudDescription">EDC-110 Accelerate Your Digital Business Peformance with Information Governance and Compliance</td>
									<td class="agendaCol agendaLocation">Room 312/317</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">Delaware Consulting Partner Session</td>
									<td class="agendaCol agendaLocation">Room 102</td>
								</tr>
							</table>
							
							<br /><br />
							
							<table class="agendaTable">
								<tr>
									<th colspan="3">4:10PM - 5:00PM</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">DSC-410 Panel Discussion: Smart Migration & Legacy Decommissioning in Action</td>
									<td class="agendaCol agendaLocation">Room 103</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-420 Product Update: OpenText Content Intelligence-What’s New & a Real-World Success Story</td>
									<td class="agendaCol agendaLocation">Room 112</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">ECM-424 Product Update: OpenText Directory Services & OpenText Content Server Better Together!</td>
									<td class="agendaCol agendaLocation">Room 101</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">ECM-200 Product Update: Newest Advances and Future Developments in Content Server</td>
									<td class="agendaCol agendaLocation">Room 106</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" style="visibility: hidden;"/></td>
									<td class="agendaCol cloudDescription">SAP-404 Run Digital. End to End – Digital HR Document Management</td>
									<td class="agendaCol agendaLocation">Room 114</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol cloudCol"><img src="/assets/logo-otcloud.png" alt="" /></td>
									<td class="agendaCol cloudDescription">INX-400 Mine Your Data for Improved Decision Making: How Analytics Can Transform your Business</td>
									<td class="agendaCol agendaLocation">Room 113</td>
								</tr>
							</table>
						
					</div>
					
					<div class="agendaSlide">
						
						<table class="agendaTable">
								<tr>
									<th colspan="3">Friday, November 13</th>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">8:00AM - 9:00AM</td>
									<td class="agendaCol agendaDescription">Industry Meeting Breakfast</td>
									<td class="agendaCol agendaLocation">Room 113</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">9:00AM - 12:00PM</td>
									<td class="agendaCol agendaDescription">EIM Best Practices for Government & Public Sector</td>
									<td class="agendaCol agendaLocation">Room 109/110</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">9:00AM - 12:00PM</td>
									<td class="agendaCol agendaDescription">EIM Best Practices for Retail Finance & Insurance</td>
									<td class="agendaCol agendaLocation">Room 108</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">9:00AM - 12:00PM</td>
									<td class="agendaCol agendaDescription">Energy Industry Wrap-up</td>
									<td class="agendaCol agendaLocation">Room 111</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">9:00AM - 12:00PM</td>
									<td class="agendaCol agendaDescription">Manufacturing Industry Wrap-up</td>
									<td class="agendaCol agendaLocation">Room 112</td>
								</tr>
								<tr class="agendaRow">
									<td class="agendaCol agendaTime">9:00AM - 12:00PM</td>
									<td class="agendaCol agendaDescription">Novel Approaches for EIM in FDA-Regulated Industries</td>
									<td class="agendaCol agendaLocation">Room 107</td>
								</tr>
							</table>
						
					</div>
					
					<div class="agendaSlide">
						
						<div style="margin: 20px 0px 20px 20px">
						<img src="assets/logo-sap.png" alt="" /> <span class="focus">FOCUS TRACK</span>
						
						<br /><br /><span class="tagline">Simplify. Run digital.</span>
						</div>
						
						<table class="agendaTable">
							<tr>
								<th colspan="3">Wednesday, November 11 - Ecosystem Breakout Session Highlights</th>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">2:40pm - 3:30pm</td>
								<td class="agendaCol agendaDescription">SAP-401 Simplify. Run Digital. Making Digital Transformation Work Across the Enterprise - Panel</td>
								<td class="agendaCol agendaLocation">Room 114</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">3:40pm - 4:30pm</td>
								<td class="agendaCol agendaDescription">Product Update: AGA & SharePoint Services for Extended ECM</td>
								<td class="agendaCol agendaLocation">Room 106</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">3:40pm - 4:30pm</td>
								<td class="agendaCol agendaDescription">SAP-402 Simplify Your Business - Business Solutions, Solution Accelerators and Demo Jam</td>
								<td class="agendaCol agendaLocation">Room 114</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">4:40pm - 5:30pm</td>
								<td class="agendaCol agendaDescription">ECO-200 Simplify Your Platform: OpenText Strategy & Roadmap for SAP, Microsoft, Oracle & Beyond</td>
								<td class="agendaCol agendaLocation">Room 114</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">4:40pm - 5:30pm</td>
								<td class="agendaCol agendaDescription">INX-410 How OpenText and SAP are Joining Forces to Optimize Spend Management</td>
								<td class="agendaCol agendaLocation">Room 112</td>
							</tr>
						</table>
						
						<br /><br />
						
						<table class="agendaTable">
							<tr>
								<th colspan="3">Thursday, November 12 - Ecosystem Breakout Session Highlights</th>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">11:10AM - 12AM</td>
								<td class="agendaCol agendaDescription">SAP-412 Simplify Digitization and Automation of Information Flows Inside & Outside the Enterprise</td>
								<td class="agendaCol agendaLocation">Room 114</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">1:00PM - 1:50AM</td>
								<td class="agendaCol agendaDescription">ECM-411 Customer Story: Voith IT Solutions Content Integration for Varied ERP Systems</td>
								<td class="agendaCol agendaLocation">Room 314/315</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">1:00PM - 1:50AM</td>
								<td class="agendaCol agendaDescription">ECM-122 Product Update: Launch of the OpenText Compliance Suite for Microsoft Office 365</td>
								<td class="agendaCol agendaLocation">Room 106</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">1:00PM - 1:50AM</td>
								<td class="agendaCol agendaDescription">SAP-410 Simplify Asset Management in a Digital World - Customer Case Studies: Valero & SoCalEdison</td>
								<td class="agendaCol agendaLocation">Room 114</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">1:00PM - 1:50AM</td>
								<td class="agendaCol agendaDescription">SAP-420 Simplify & Accelerate SAP Financial and Procurement with Valero Customer Case Study</td>
								<td class="agendaCol agendaLocation">Room 101</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">2:00AM - 2:50AM</td>
								<td class="agendaCol agendaDescription">ECM-415 Customer Story: Hydro Tasmania Right Information, Right Time, Right People</td>
								<td class="agendaCol agendaLocation">Room 314/315</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">2:00AM - 2:50AM</td>
								<td class="agendaCol agendaDescription">ECM-412 Simplify your Organization’s Digital Transformation with an In-House Workshop</td>
								<td class="agendaCol agendaLocation">Room 301/302</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">2:00AM - 2:50AM</td>
								<td class="agendaCol agendaDescription">SAP-414 Transform Customer Experience with SAP hybris & OpenText - with CenterPoint Energy Case Study</td>
								<td class="agendaCol agendaLocation">Room 114</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">2:00AM - 2:50AM</td>
								<td class="agendaCol agendaDescription">ECO-500 Product Update: OpenText Solutions Certified to Run on Microsoft’s Azure Platform</td>
								<td class="agendaCol agendaLocation">Room 108</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">3:10AM - 4:00AM</td>
								<td class="agendaCol agendaDescription">SAP-416 MAN Diesel & Turbo’s Enterprise Content & Records Management Solution – A Customer Story</td>
								<td class="agendaCol agendaLocation">Room 114</td>
							</tr>
							<tr class="agendaRow ">
								<td class="agendaCol agendaTime">3:10AM - 4:00AM</td>
								<td class="agendaCol agendaDescription">SAP-404 Run Digital. End to End – Digital HR Document Management</td>
								<td class="agendaCol agendaLocation">Room 114</td>
							</tr>								
						</table>
						
					</div>
					
					<div class="agendaSlide noScroll">
						<img src="assets/innovation-lab.jpg" alt="" />
					</div>
					
					<div class="agendaSlide noScroll">
						<img src="assets/developer-lab.jpg" alt="" />
					</div>
					
				</div>	
				
			</div>
				
			</div>
		</section>
		
		
		<!--Venue Map Section-->	
		<section id="sectionVenueMap" class="page3">
			<div class="wrapper">
			
			<!--Sidebar-->
			<div class="sidebar">
				
				<!--Sub Head-->
				<h2>Gaylord Opryland</h2>
				<h3>Conference Center</h3>
				
				<!--Submenu-->
				<ul id="venueMapMenu" class="subMenu">
					<li id="level0">
						<a href="#" data-map="0" class="subMenuSelected">
							Level 0
								<span class="indicatorIcon">
								<svg height="15" width="15">
									<g> 
									<circle cx=“15” cy=“15” r=“15” fill="none" stroke="#ffff00" stroke-width="3" stroke-opacity="1.0">
								        <animate attributeType="xml" attributeNAMe="r" from="0" to="15" dur="2s" repeatCount="indefinite" />  
										<animate attributeType="xml" attributeNAMe="stroke-opacity" from="1.0" to="0" dur="2s"  repeatCount="indefinite" />  
									</circle>
							    
									<circle cx=“15” cy=“15” r="5" fill="#ffff00" stroke="#ffff00">
								    </circle>
									</g>
								</svg>
								</span>
						</a>
					</li>
					<li id="level2">
						<a href="#" data-map="1">
							Level 2
							<span class="levelMarker indicatorIcon" >
							<svg height="15" width="15">
								<g> 
								<circle cx=“15” cy=“15” r=“15” fill="none" stroke="#ffff00" stroke-width="3" stroke-opacity="1.0">
							        <animate attributeType="xml" attributeNAMe="r" from="0" to="15" dur="2s" repeatCount="indefinite" />  
									<animate attributeType="xml" attributeNAMe="stroke-opacity" from="1.0" to="0" dur="2s"  repeatCount="indefinite" />  
								</circle>
						    
								<circle cx=“15” cy=“15” r="5" fill="#ffff00" stroke="#ffff00">
							    </circle>
								</g>
							</svg>
							</span>
						</a>
					</li>
					<li id="levelMPres">
						<a href="#" data-map="2">
							Level M
							<span class="subSubMenu">Presidential <br />& Delta Mezzanine</span>
							<span class="indicatorIcon">
							<svg height="15" width="15">
								<g> 
								<circle cx=“15” cy=“15” r=“15” fill="none" stroke="#ffff00" stroke-width="3" stroke-opacity="1.0">
							        <animate attributeType="xml" attributeNAMe="r" from="0" to="15" dur="2s" repeatCount="indefinite" />  
									<animate attributeType="xml" attributeNAMe="stroke-opacity" from="1.0" to="0" dur="2s"  repeatCount="indefinite" />  
								</circle>
						    
								<circle cx=“15” cy=“15” r="5" fill="#ffff00" stroke="#ffff00">
							    </circle>
								</g>
							</svg>
							</span>
						</a>
					</li>
					<li id="levelMMag">
						<a href="#" data-map="3">
							Level M
							<span class="subSubMenu">Magnolia Mezzanine</span>
							<span class="indicatorIcon">
							<svg height="15" width="15">
								<g> 
								<circle cx=“15” cy=“15” r=“15” fill="none" stroke="#ffff00" stroke-width="3" stroke-opacity="1.0">
							        <animate attributeType="xml" attributeNAMe="r" from="0" to="15" dur="2s" repeatCount="indefinite" />  
									<animate attributeType="xml" attributeNAMe="stroke-opacity" from="1.0" to="0" dur="2s"  repeatCount="indefinite" />  
								</circle>
						    
								<circle cx=“15” cy=“15” r="5" fill="#ffff00" stroke="#ffff00">
							    </circle>
								</g>
							</svg>
							</span>
						</a>
					</li>
					<li id="levelAll">
						<a href="#" data-map="4">
							All Levels
							<span class="indicatorIcon">
							<svg height="15" width="15">
								<g> 
								<circle cx=“15” cy=“15” r=“15” fill="none" stroke="#ffff00" stroke-width="3" stroke-opacity="1.0">
							        <animate attributeType="xml" attributeNAMe="r" from="0" to="15" dur="2s" repeatCount="indefinite" />  
									<animate attributeType="xml" attributeNAMe="stroke-opacity" from="1.0" to="0" dur="2s"  repeatCount="indefinite" />  
								</circle>
						    
								<circle cx=“15” cy=“15” r="5" fill="#ffff00" stroke="#ffff00">
							    </circle>
								</g>
							</svg>
							</span>
						</a>
					</li>
				</ul>
			</div>
			
			<!--Content Area-->
			<div class="contentContainer col6" >
				<!-- You Are Here Marker -->	
				<div id="youAreHere">
					<span class="message">YOU ARE HERE</span>
					<svg height="60" width="60">
						<g>                 
						    <circle cx="28" cy="28" r="28" fill="none" stroke="#ffff00" stroke-width="3" stroke-opacity="1.0">
						        <animate attributeType="xml" attributeNAMe="r" from="0" to="28" dur="2s" repeatCount="indefinite" />  
						        <animate attributeType="xml" attributeNAMe="stroke-opacity" from="1.0" to="0" dur="2s" repeatCount="indefinite" />  
						    </circle>
						    
						    <circle cx="28" cy="28" r="28" fill="none" stroke="#ffff00" stroke-width="3" stroke-opacity="1.0">
						        <animate attributeType="xml" attributeNAMe="r" from="0" to="28" dur="2s" begin="0.5s" repeatCount="indefinite" />  
						        <animate attributeType="xml" attributeNAMe="stroke-opacity" from="1.0" to="0" dur="2s" begin="0.5s" repeatCount="indefinite" />  
						    </circle>
						    
						    <circle cx="28" cy="28" r="28" fill="none" stroke="#ffff00" stroke-width="3" stroke-opacity="1.0">
						        <animate attributeType="xml" attributeNAMe="r" from="0" to="28" dur="2s" begin="1s" repeatCount="indefinite" />  
						        <animate attributeType="xml" attributeNAMe="stroke-opacity" from="1.0" to="0" dur="2s" begin="1s" repeatCount="indefinite" />  
						    </circle>
						    
						    <circle cx="28" cy="28" r="5" fill="#ffff00" stroke="#ffff00">
						    </circle>

						</g>
					</svg>
				</div>
				
				<!-- Carousel with different floors -->
				<div id="carouselVenueMap" class="cycle-slideshow" data-cycle-fx="scrollVert" data-cycle-slides="img" data-cycle-speed="300" data-cycle-timeout=0>
					<img src="assets/venuemap-level0.png" />
					<img src="assets/venuemap-level2.png" />
					<img src="assets/venuemap-levelM-1.png" />
					<img src="assets/venuemap-levelM-2.png" />
					<img src="assets/venuemap-all-levels.png" />
				</div>		
			</div>
			
			</div>
		</section>
		
		
		<!--Enterprise Expo Section-->	
		<section id="sectionEnterpriseExpo" class="page4">
			<div class="wrapper">
						
				<!--venue map container -->
				<div id="expoMap" class="contentContainer col5" >
				<div id="marker">
					
					<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 32.8 55" style="enable-background:new 0 0 32.8 55;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:#ffff00;}
						.st2{fill:none;stroke:#ffff00;;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					</style>
					<circle class="st2" cx="16.4" cy="16.6" r="13" />
					<circle class="st0" cx="16.4" cy="16.6" r="9.3">
						<animate attributeType="xml" attributeNAMe="r" from="0" to="9.3" dur="1s" repeatCount="indefinite" />  
						  <animate attributeType="xml" attributeNAMe="fill-opacity" from="1.0" to="0" dur="1s" repeatCount="indefinite" />
					</circle>
					
					</svg>
					
				</div>
				</div>	
				
				
				
				<!-- Legend -->
				
				<div class="sidebarLegend">
					<h4>Map Legend</h4>
					<div class="legendContainer">
						<img src="assets/legend.png" alt="" />
					</div>
				</div>
				
				
				
								<!-- sidebar container LEFT -->
				<div class="sidebarLeft">
					<h4>OpenText Pods & Booths</h4>
					
					<div id="otPods">
					<table class="expoList">
						<tr class="expoRow" data-number="718" data-suite="content">
							<td class="rowName">Content Suite Adoption</td>
						</tr>
						<tr class="expoRow" data-number="716" data-suite="content">
							<td class="rowName">Content Suite Innovations</td>
						</tr>
						<tr class="expoRow" data-number="714" data-suite="content">
							<td class="rowName">Content Suite Integration</td>
						</tr>
						<tr class="expoRow" data-number="713" data-suite="content">
							<td class="rowName">Content Suite <br />and Business Solutions</td>
						</tr>
						<tr class="expoRow" data-number="712" data-suite="content">
							<td class="rowName">Content Suite <br />and Industry Solutions</td>
						</tr>
						<tr class="expoRow" data-number="711" data-suite="content">
							<td class="rowName">Content Suite <br />Search and Analytics</td>
						</tr>
						<tr class="expoRow" data-number="710" data-suite="content">
							<td class="rowName">Content Suite Platform</td>
						</tr>
						<tr class="expoRow" data-number="709" data-suite="content">
							<td class="rowName">Content Suite <br />and Microsoft Solutions</td>
						</tr>
						<tr class="expoRow" data-number="707" data-suite="content">
							<td class="rowName">Content Suite Help Desk</td>
						</tr>
						<tr class="expoRow" data-number="302" data-suite="process">
							<td class="rowName">Process Suite</td>
						</tr>
						<tr class="expoRow" data-number="306" data-suite="process">
							<td class="rowName">Process Suite Applications</td>
						</tr>
						<tr class="expoRow" data-number="503" data-suite="process">
							<td class="rowName">Entity Modeling: <br />Build Applications</td>
						</tr>
						<tr class="expoRow" data-number="307" data-suite="process">
							<td class="rowName">Process Suite and EIM</td>
						</tr>
						<tr class="expoRow" data-number="505" data-suite="process">
							<td class="rowName">Provision: Automate <br />the Right Process</td>
						</tr>
						<tr class="expoRow" data-number="118" data-suite="experience">
							<td class="rowName">Digital Asset Management</td>
						</tr>
						<tr class="expoRow" data-number="117" data-suite="experience">
							<td class="rowName">Communications Center</td>
						</tr>
						<tr class="expoRow" data-number="115" data-suite="experience">
							<td class="rowName">Web Content Management</td>
						</tr>
						<tr class="expoRow" data-number="116" data-suite="experience">
							<td class="rowName">Experience Suite Help Desk</td>
						</tr>
						<tr class="expoRow" data-number="110" data-suite="ix">
							<td class="rowName">Secure Messaging</td>
						</tr>
						<tr class="expoRow" data-number="109" data-suite="ix">
							<td class="rowName">Fax Solutions</td>
						</tr>
						<tr class="expoRow" data-number="111" data-suite="ix">
							<td class="rowName">Trading Grid</td>
						</tr>
						<tr class="expoRow" data-number="107" data-suite="ix">
							<td class="rowName">B2B Managed Services</td>
						</tr>
						<tr class="expoRow" data-number="105" data-suite="ix">
							<td class="rowName">Procure to Pay</td>
						</tr>
						<tr class="expoRow" data-number="708" data-suite="cloud">
							<td class="rowName">OpenText Cloud</td>
						</tr>
						<tr class="expoRow" data-number="104" data-suite="appworks">
							<td class="rowName">OpenText AppWorks</td>
						</tr>
						<tr class="expoRow" data-number="108" data-suite="specialty">
							<td class="rowName">Connectivity Solutions</td>
						</tr>
						<tr class="expoRow" data-number="106" data-suite="specialty">
							<td class="rowName">eDOCS EIM Solutions</td>
						</tr>
						<tr class="expoRow" data-number="102" data-suite="analytics">
							<td class="rowName">Analytics</td>
						</tr>
						<tr class="expoRow" data-number="103" data-suite="analytics">
							<td class="rowName">Analytics</td>
						</tr>
						<tr class="expoRow" data-number="704" data-suite="">
							<td class="rowName">Content Server Partner Solutions</td>
						</tr>
					</table>
					</div>
					
					
				</div>
				
				
				
				<!-- sidebar container RIGHT -->
				<div class="sidebarRight">
					<h4>Partner Pods & Booths</h4>
					
					<div id="partnerPods">
					<table class="expoList">
						<tr class="expoRow" data-number="602">
							<td class="rowName">Accenture</td>
						</tr>
						<tr class="expoRow" data-number="304">
							<td class="rowName">Acheron Software Consultancy</td>
						</tr>
						<tr class="expoRow" data-number="303">
							<td class="rowName">Adlib</td>
						</tr>
						<tr class="expoRow" data-number="204">
							<td class="rowName">Alitek</td>
						</tr>
						<tr class="expoRow" data-number="705">
							<td class="rowName">AnswerModules</td>
						</tr>
						<tr class="expoRow" data-number="203">
							<td class="rowName">Apptier</td>
						</tr>
						<tr class="expoRow" data-number="405">
							<td class="rowName">CALIBRE Systems, Inc</td>
						</tr>
						<tr class="expoRow" data-number="201">
							<td class="rowName">capSpire</td>
						</tr>
						<tr class="expoRow" data-number="206">
							<td class="rowName">Cassia Content Management</td>
						</tr>
						<tr class="expoRow" data-number="605">
							<td class="rowName">CGI</td>
						</tr>
						<tr class="expoRow" data-number="504">
							<td class="rowName">Counterpoint Consulting</td>
						</tr>
						<tr class="expoRow" data-number="603">
							<td class="rowName">Delaware Consulting</td>
						</tr>
						<tr class="expoRow" data-number="701">
							<td class="rowName">Digital Mind</td>
						</tr>
						<tr class="expoRow" data-number="715">
							<td class="rowName">DocuSign</td>
						</tr>
						<tr class="expoRow" data-number="502">
							<td class="rowName">Ezescan</td>
						</tr>
						<tr class="expoRow" data-number="208">
							<td class="rowName">Fastman</td>
						</tr>
						<tr class="expoRow" data-number="717">
							<td class="rowName">fme AG</td>
						</tr>
						<tr class="expoRow" data-number="202">
							<td class="rowName">Global Cents</td>
						</tr>
						<tr class="expoRow" data-number="403">
							<td class="rowName">Infront Consulting Group</td>
						</tr>
						<tr class="expoRow" data-number="305">
							<td class="rowName">IQ Business Group</td>
						</tr>
						<tr class="expoRow" data-number="703">
							<td class="rowName">Jintec</td>
						</tr>
						<tr class="expoRow" data-number="506">
							<td class="rowName">KineMatik</td>
						</tr>
						<tr class="expoRow" data-number="114">
							<td class="rowName">OnPrem</td>
						</tr>
						<tr class="expoRow" data-number="606">
							<td class="rowName">OpenText Personalized Help</td>
						</tr>
						<tr class="expoRow" data-number="604">
							<td class="rowName">Optima ECM Consulting</td>
						</tr>
						<tr class="expoRow" data-number="702">
							<td class="rowName">Pleasetech</td>
						</tr>
						<tr class="expoRow" data-number="404">
							<td class="rowName">ProcessNet</td>
						</tr>
						<tr class="expoRow" data-number="601">
							<td class="rowName">Hybris Software - <br />An SAP Company</td>
						</tr>
						<tr class="expoRow" data-number="402">
							<td class="rowName">Shinydocs</td>
						</tr>
						<tr class="expoRow" data-number="207">
							<td class="rowName">Sigma Business Solutions</td>
						</tr>
						<tr class="expoRow" data-number="501">
							<td class="rowName">Syntergy</td>
						</tr>
						<tr class="expoRow" data-number="205">
							<td class="rowName">Wisteria IT</td>
						</tr>
					</table>
					</div>
						
				</div>
						
				
				
				
			</div>
		</section>
		
		
		<!--Enterprise Expo Section-->	
		<section id="networking" class="page5">
			<div class="wrapper">
				<div class="contentContainer col7">
					<img src="assets/networking.png" alt="" />
				</div>
			</div>
		</section>
		
		
		<!--Social Section-->	
		<section id="sectionSocial" class="page6">
			<div class="wrapper">
				<div class="contentContainer col7">
					<img src="assets/social.png" alt="" />
				</div>
			</div>
		</section>
		
		
		<!--TeAM Tweet Section-->	
		<section id="sectionTeAMTweet" class="page6">
			<div class="wrapper">
			
			<!--Sidebar -->
			<div class="sidebar">
				<ul id="tweetMenu" class="subMenu">
					<li><a href="#" id="leaderboard" class="leaderboard" data-tweet="0" class="subMenuSelected">Leaderboards</a></li>
					<li><a href="#" id="teams" data-tweet="1">Teams</a></li>
					<li><a href="#" id="howtoscore" data-tweet="2">How to Play</a></li>
					<li><a href="#" id="prizes" data-tweet="3">Prizes</a></li>
				</ul>
			</div>
			
			<!--Content Area-->
			<div class="contentContainer col6" >
				
				<!-- Carousel with divs -->
				<div id="carouselTeamTweet" class="cycle-slideshow" data-cycle-fx="scrollVert" data-cycle-slides="div.tweetSlide" data-cycle-speed="300" data-cycle-timeout=0>
					<div class="tweetSlide">
						<iframe id="twitterFrame"></iframe>
					</div>
					
					<div class="tweetSlide">
						<img src="assets/ewgames-teams.png" alt="" />
					</div>
					
					<div class="tweetSlide">
						<img src="assets/ewgames-score.png" alt="" />
					</div>
					
					<div class="tweetSlide">
						<img src="assets/ewgames-prizes.png" alt="" />
					</div>
				
			</div>
			
			</div>
		</section>
		
		<!--Enterprise Expo Section-->	
		<section id="sectionSponsors" class="page8">
			<div class="wrapper">
				
			<!--Sidebar -->
			<div class="sidebar">
				<ul id="sponsorsMenu" class="subMenu">
					<li><a href="#" id="platinum" data-sponsor="0" class="subMenuSelected">Platinum</a></li>
					<li><a href="#" id="gold" data-sponsor="1">Gold</a></li>
					<li><a href="#" id="silver" data-sponsor="2">Silver</a></li>
					<li><a href="#" id="bronze" data-sponsor="3">Bronze</a></li>
					<li><a href="#" id="pod" data-sponsor="4">Pod</a></li>
					<li><a href="#" id="promotional" data-sponsor="5">Promotional</a></li>
				</ul>
			</div>
			
			<!--Content Area-->
			<div class="contentContainer col6" >	
				<div id="carouselSponsors" class="cycle-slideshow" data-cycle-fx="scrollVert" data-cycle-slides="img" data-cycle-speed="300" data-cycle-timeout=0>
					<img src="assets/sponsors-platinum.png" />
					<img src="assets/sponsors-gold.png" />
					<img src="assets/sponsors-silver.png" />
					<img src="assets/sponsors-bronze.png" />
					<img src="assets/sponsors-pod.png" />
					<img src="assets/sponsors-promotional.png" />
				</div>		
			</div>
				
				
			</div>
		</section>
		
		
		</article>	

</body>

</html>