body {
	font-family: 'Arial', sans-serif;
	margin: 10px;
	font-style: 14px;
	background: url("../assets/ew-background.png") no-repeat;
	background-size: cover;
	color: #FFFFFF;
}

#wrapper {
	margin: auto;
}

h1 {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
}

h2 {
	margin-bottom: 50px;
}

table th {
	padding: 5px;
	background-color: grey;
}

table tr {
	text-align: left;
}

table td {
	padding: 5px;
}

#newUpdate ul {
	list-style: none;
	margin: 0  0 20px 0;
	padding: 0;
}

#newUpdate ul li {
	padding: 10px 0px  10px 0px;
}

#newUpdate ul li label {
	display: block;
}

#newUpdate ul li input {
	width: 95%;
}

#newUpdate input[type="submit"] {
	
	width: 200px;
	height: 40px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
	
}



@media only screen and (min-width : 761px) {
	#wrapper {
		width: 800px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	#wrapper {
		width: 550px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	#wrapper {
		width: 300px;
	}
}
