/* OpenText Enterprise World Touchscreen Interface */
/* Thomas Lowry ext. 3690 */


/* Global Styles */

html { 
	width: 100%;	
	height: 100%; 
}

body {
	margin: 0;
	font-family: "aktiv-grotesk", Helvetica, sans-serif;
	color: #FFFFFF;
    user-select: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
}



/* Background Image */

#backgroundImage {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1.1);
	-webkit-transition : -webkit-filter 500ms linear;
}

.blurBg {
	filter: blur(10px); 
}





/* NOTIFICATIONS ON MAIN MENU */
 
.notificationContainer      {  background-color: red; color: #FFFFFF; text-align: center; }
.notificationBadgeHome		{  display: block; position:absolute; top:-10px; right:-10px; width: 40px; height: 34px; border-radius: 50%; padding-top:6px;}
.notificationBadgeMenu 		{  width: 22px; height: 22px; border-radius: 50%; position: absolute; top: 6px; right: 10px; font-size: 13px; line-height: 22px; }



/* Containers */

header {
	top: 55px;
	left: 50%;
	width: 1682px;
	height: 50px;
	position: fixed;
	margin-left: -841px;
	z-index: 1800;
}

.sections {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.outer {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 150px;
	display: none;
	margin-top: 30px;
}

.inner {
	width: 1682px;
	height: 800px;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

footer {
	width: 1682px;
	height: 53px;
	position: fixed;
	bottom: 40px;
	left: 50%;
	margin-left: -841px;
	z-index: 2000;
}

.overlay {
	background-color: rgba(255,255,255,0.6);
}




/* header */

#logo {
	height: 42px;
	width: auto;
	float: left;
	transition: all 300ms ease-out;
}

.logoHome {
	margin-top: 175px;
}

.sectionNames {
	font-size: 35px;
	font-weight: 700;
	color: #FFFFFF;
	float: right;
}

.sectionNames div {
	text-align: right;
	width: 300px;
}






/* main menu */

#section-home .inner .mainmenu li {
	opacity: 0;
}

.mainmenu {
	position: relative;
	list-style-type: none;
	margin: 0 auto 0 auto;
	width: 1682px;
	padding: 0;	
}

.mainmenu li {
	width: 206px;
	height: 206px;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 8px;
	float: left;
	padding: 0;	
	margin: 0 0 0 40px;
	overflow: visible;
	transition: 200ms ease-out;
}

.mainmenu li:first-child {
	margin-left: 0px;
}

.mainmenu li span {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 210px;
}


/* button icons */
.menuItem-agenda 		{ background-image: url("../assets/icon/agenda.png"); }
.menuItem-maps 			{ background-image: url("../assets/icon/map.png"); }
.menuItem-expo 			{ background-image: url("../assets/icon/expo.png"); }
.menuItem-events 		{ background-image: url("../assets/icon/events.png"); }
.menuItem-social 		{ background-image: url("../assets/icon/social.png"); }
.menuItem-ewgames 		{ background-image: url("../assets/icon/ew-games.png"); }
.menuItem-sponsors 		{ background-image: url("../assets/icon/sponsors.png"); }

#section-home .mainmenu {
	margin-top: 240px;
}

body.section-agenda .mainmenu li.menuItem-agenda {
	background-color: rgba(255,255,255,0.6) !important;
}

body.section-maps .mainmenu li.menuItem-maps {
	background-color: rgba(255,255,255,0.6) !important;
}

body.section-expo .mainmenu li.menuItem-expo {
	background-color: rgba(255,255,255,0.6) !important;
}

body.section-events .mainmenu li.menuItem-events {
	background-color: rgba(255,255,255,0.6) !important;
}

body.section-social .mainmenu li.menuItem-social {
	background-color: rgba(255,255,255,0.6) !important;
}

body.section-ewgames .mainmenu li.menuItem-ewgames {
	background-color: rgba(255,255,255,0.6) !important;
}

body.section-sponsors .mainmenu li.menuItem-sponsors {
	background-color: rgba(255,255,255,0.6) !important;
}





/* Slide Menu */

#slideMenu {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 350px;
	background-color: rgba(17,27,88,0.95);
	transition: all 300ms ease-out;
	box-sizing: border-box;
	padding-top: 50px;
}


#slideMenu.expanded {
	bottom: 0;
}

#slideMenu.closed {
	bottom: -350px;
}






/* Footer Nav buttons */


/* Home Button */
#homeButton {
  width: 52px;
  height: 52px;
  position: relative;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 50%;
  height: 52px;
  display: inline-block;
  float: left;
}

/* Menu/Close Button */
#menuButton {
  width: 52px;
  height: 52px;
  position: absolute;
  top:0;
  right: 0;
  transition-delay: 500ms;
  transition: 300ms ease-out;
  cursor: pointer;
  z-index: 3000;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50%;
  height: 52px;
  float: right;
}

#menuButton.open {
	margin-top: -285px;
}

#menuButton span {
  display: block;
  position: absolute;
  height: 3px;
  width: 56%;
  background: #000000;
  border-radius: 8px;
  opacity: 1;
  left: 22%;
  transform: rotate(0deg);
  transition: 500ms ease-out;
}

#menuButton span:nth-child(1) {
  top: 16px;
  transform-origin: left center;
}

#menuButton span:nth-child(2) {
  top: 26px;
  transform-origin: left center;
}

#menuButton span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}

#menuButton.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 16px;
  left: 16px;
}

#menuButton.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menuButton.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 37px;
  left: 16px;
}






/* Material design style tabs  */

ul {
  font-weight: 400;
  position: relative;
  padding: 0;
  width: 100%;
  margin: 0;
  height: 55px;
}

li {
  float: left;
  box-sizing: border-box;
  padding: 0 26px;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slider {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #FFFFFF;
  transition: all 0.5s;
}


.rule {
	height: 1px;
	color: #FFFFFF;
	width: 100%;
	margin: 0 auto 15px auto;	
	padding: 0;	
	border: none;
	background-color: #FFFFFF;
}



/* Ripple */
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop .6s linear;
  animation: rippleDrop .6s linear;
}

@-webkit-keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}

@keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}






/* Maps */

#youAreHere {
	position: absolute;
	width: 130px;
	height: 60px;
	z-index: 4000;
	text-align: center;
}

#youAreHere .message {
	color: #000000;
	display: inline-block;
	border-radius: 4px;
	padding: 7px;
	background-color: rgba(255,255,255,0.8);
}

.ui-draggable-dragging {
	background-color: rgba(255,255,355,0.3) !important;
	border-radius: 8px; 
}

.currentLevel {
	color: #2E3D98;
}

#mapsCarousel div h2 {
	position: absolute;
	top: 0px;
	left: 24px;
	color: #2E3D98;
	font-weight: 700;
	font-size: 30px;
	line-height: 34px;
}

#mapsCarousel div h2 span {
	font-weight: 200;
}





/* Agenda */

#agendaCarousel {
	width: 1682px;
	height: 720px;
	overflow: hidden;
}

#agendaCarousel .cycle-slide {
	width: 100%;
	height: 100%;
}

.agendaTable, .breakoutTable {
	font-size: 20px;
	font-weight: 200;
	width: 99%;
}

.breakoutTable {
	line-height: 30px;
}

.breakoutTable th {
	background-color: #2DA3E0;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: 200;
	padding: 10px 10px 10px 20px;
}

.agendaTable th {
	text-align: left;
	font-size: 30px;
	font-weight: 200;
	padding: 20px 10px 10px 0px;
	color: #2E3D98;
	font-weight: 700;
}

.agendaCol {
	padding: 12px;
}

.breakoutTable .agendaCol {
	padding: 8px;
}

.agendaTime {
	font-weight: 400;
	width: 15%;
	padding-left: 20px;
	vertical-align: top;
	text-transform: uppercase;
}

.cloudCol {
	font-weight: 400;
	width: 7%;
	padding-left: 20px;
	vertical-align: top;
}

.cloudCol img {
	width: 85%;
	height: auto;
}

.agendaDescription {
	width: 55%;
}

.cloudDescription {
	width: 70%;
}

.agendaBreakoutDescription {
	width: 85%;
}

.agendaLocation {
	width: 17%;
	
}

.highlight {
	background-color: rgba(255, 255, 255, 0.3) !important;
}
.highlightBlue {
	background-color: rgba(153, 221, 255, 0.6) !important;
}






/* Modal Window */
#modal {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

#dialog {
	position: absolute;
	top: 300px;
	left: 50%;
	margin-left: -200px;
	background-color: #FFFFFF;
	display: none;
	text-align: center;
	color: #000000;
	font-size: 30px;
	padding: 30px;
	width: 400px;
	border-radius: 8px;
}

h5 {
	margin-top: 0;
	font-size: 25px;
	margin-bottom:  20px;
}

#okbutton {
	margin-top: 15px;
	font-size: 25px;
	color: #FFFFFF;
	padding: 15px 20px 15px 20px;
	display:block;
	background-color: #2E3D98;
	text-decoration: none;
	font-size: 25px;
}

#okbutton:active {
	background-color: #000000;
}

.reset {
	font-weight: 300;
	font-size: 22px;
}

#number {
	font-size: 22px;
	color: #2E3D98;
	font-weight: 700;
}


#agendaCarousel {
	width: 1682px;
	height: 720px;
	overflow: hidden;
}

/* Expo  */


#expoMap { 
	margin-top: 54px;
	float: right;
	height: 735px;
	width: 77%;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url('../assets/expomap.png');
	background-size: cover;
}
#boothFinder { 
	float: left;
	height: 99.8%;
	width: 345px;
}

#listCarousel {
	width: 100%;
	height: 720px;
}

#otPods, #partnerPods {
	height: 720px;
	overflow: hidden;
}

#otPods table, #partnerPods table {
}

.expoList {
	width: 295px;
	margin-bottom: 0px;
	margin-right: 15px;
}
.rowName {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	background-color: rgba(255,255,255,0.1);
}

.rowNumber {
	text-align: center;
	font-weight: 200;
	width: 40px;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	vertical-align: top;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.8);
	font-weight: 700;
}

#otPods .rowNumber {
	color: #2E3D98 !important;
}

#partnerPods .rowNumber {
	color: #09BCEF !important;
}

.expoRow {
	font-size: 15px;
	font-weight: 200;
	line-height: 20px;
}

.expoRow:active {
	background-color: rgba(255,255,255,0.3);
}

.rowSelected {
	color: #000000;
	background-color: #FFFFFF;
}

.rowSelected:active {
	color: #000000;
	background-color: #FFFFFF;
}

#marker {
	position: absolute;
	top: -100px;
	left: 0px;
	width: 55px;
	height: 55px;
}



/* EW Games */


#ewGamesCarousel {
	width: 1682px;
	height: 720px;
	overflow: hidden;
}

#ewGamesCarousel div {
	width: 100%;
	height: 100%;
}



/* Touch to begin */

#touchToBegin {
	font-size: 55px;
	font-weight: 200;
	background-color: rgba(255,255,255,0.1);
	padding: 25px;
	border-radius: 8px;
	position: absolute;
	bottom: 200px;
	text-align: center;
	width: 650px;
	left: 50%;
	margin-left: -325px;
}