body {
	font-family: "aktiv-grotesk", Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 25px;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

table {
	text-align: left;
	width: 100%;
}

table td {
	padding: 20px;
}
.sessionCode {
	color: #FFFFFF;
	font-weight: 200;
}
.reason {
	font-weight: 100;
	font-size: 20px;
	color: red;
}
#noResults {
	margin-top: 300px;
	margin-left: 45px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
	padding: 30px;
	width: 90%;
}

h1 {
	font-size: 34px;
	font-weight: 200;
	color: #FFFFFF;
	margin-left: 20px;
}