html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: url("../img/ew-2017-background.jpg") #000000;
	background-size: cover;
	font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
}


/* Header bar */
header {
	width: 100%;
	height: 50px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 14px;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 100;
}

header img {
	width: auto;
	height: 25px;
}


/* Basic carousel slide styles */

.cycle-slideshow {
	width: 100%;
	height: 100%;
	z-index: 0;
	margin-top:25px;
}

.cycle-slide {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}


/* Pagination for carousel */
.pager {
	position: fixed;
	width: 100%;
	z-index: 100;
	bottom: 0;
	text-align: center;
	font-size: 10vw;
	color: rgba(255,255,255,0.5);
	margin-bottom: 1%;
}

.pager span {
	margin-right: 1%;
}
.cycle-pager-active {
	color: rgba(255,255,255,1.0);
}

.leaderboard {
	padding: 8% 5% 0 5%;
}




/* Leaderboard styles */

h1 {
	color: #FFFFFF;
	font-size: 5vw;
	font-weight: 700;
	margin-top: 0;	
	margin-bottom: 4%;
	text-align: center;	
}

.rows {
	float: right;
	width: 100%;
	height: 60%;
}


.row {
	display: flex;
	align-items: center;
	width: 100%;
	height: 21%;
	color: #000000;
	margin-bottom: 0.3%;
}


.row:nth-child(even) {
	background-color: rgba(255,255,255,0.7);
}

.row:nth-child(odd) {
	background-color: rgba(255,255,255,0.9);
}


.rank {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8%;
	height: 100%;
	font-weight: 700;
	font-size: 4.5vw;
	background-color: rgba(255,255,255,0.6);
}

.teamIcon {
	display: flex;
	height: 38%;
	width: 12%;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	
}

.name {
	display: flex;
	vertical-align: middle;
	font-weight: 200;
	font-size: 4.5vw;
}

.points {
	display: flex;
	margin-left: auto;
	margin-right: 3%;
	font-weight: 700;
	font-size: 5vw;
}
	
.red {
	background-image: url("../img/team-icons/red.png");
}
.purple {
	background-image: url("../img/team-icons/purple.png");
}
.grey {
	background-image: url("../img/team-icons/grey.png");
}
.blue {
	background-image: url("../img/team-icons/blue.png");
}
.teal {
	background-image: url("../img/team-icons/teal.png");
}


/* Team Leaderboards */

.leaderboard.team .name {
	margin-left: 2%;
}

.leaderboard.team .rows {
	width: 100%;
}

.leaderboard.team .teamBadge {
	display: none;
}

#teamRed .teamBadge {
	background-image: url("../img/team-icons/red.png");
}

#teamTeal .teamBadge {
	background-image: url("../img/team-icons/teal.png");
}

#teamPurple .teamBadge {
	background-image: url("../img/team-icons/purple.png");
}

#teamGrey .teamBadge {
	background-image: url("../img/team-icons/grey.png");
}

#teamBlue .teamBadge {
	background-image: url("../img/team-icons/blue.png");
}

/* Coming Soon */

body.comingSoon {
	margin-top: 80px;
}

#countdown {
	text-align: left;
}

body.comingSoon h1 {
	text-align: left;
	margin: 0 0 0 30px;
	padding: 0;
	font-size: 5vh;
	line-height: 6vh;
}

h1#countdown {
	color: #2E3D98;
	font-size: 8vh;
	line-height: 9vh;
}

.units {
	color: #FFFFFF;
}

@media only screen and (min-width : 1680px) { 
	body {
		background: none;
	}	
	
	header {
		display: none;
	}
	
	.leaderboard {
		padding: 0% 0% 0 0%;
	}
	
	h1 {
		font-size: 2vw;
		margin-top: 0;	
		margin-bottom: 1.5%;
		text-align: left;	
	}

	.pager {
		font-size: 3.5vw;
		margin-bottom: 0%;
	}

	.pager span {
		margin-right: 0.5%;
	}
	
	.row {
		height: 23%;
	}

	.name, .rank, .points {
		font-size: 3vw;
	}

	.teamIcon {
		display: flex;
		height: 70%;
		width: 8%;

	}
	
}