html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;	
}

body {
	color: #FFF;
	background-image: url("../img/wave.png");
	background-color: #111B58;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "aktiv-grotesk", "helvetica-neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

#pageContainer {
	height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#container {
	text-align: center;
	margin-top: 40px;
}

.logo {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	position: fixed;
	left: 0;
	top: 20px;
}

.logo img {
	width: 75%;
	height: auto;
}

#appIcon {
	margin: 30% auto 30px auto;
	width: 60%;
	height: auto;
}

h1 {
	font-weight: 700;
}

.storeBadge {
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 20px;
	left: 0;
	text-align: center;
}

.storeBadge img {
	width: 60%;
	height: auto;
	margin-bottom: 1%;
}

@media only screen and (min-width: 768px) {
    #container {
	    width: 70%;
    }
    
    .logo img {
	    width: 50%;
	    width: auto;
    }
    
    #appIcon {
	    width: 30%;
	    height: auto;
	    margin: 20% auto 30px auto;
    }
    
    .storeBadge img {
	    width: 20%;
	    height: auto;
    }
}

@media only screen and (max-width: 767px) {
    #container {
	    width: 70%;
    }
    
    h1 {
	    font-size: 30px;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    #container {
	    width: 70%;
    }
    h1 {
	    font-size: 20px;
    }
}



