/* Lato Light */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: 200;
    font-style: normal;
}
/* Lato Regular */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: 300;
    font-style: normal;
}
/* Lato Bold */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* Lato Black */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: 700;
    font-style: normal;
}


html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Lato", Helvetica, sans-serif;
}

body.comingSoon {
	text-align: center;
	background: url('../img/background.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}


/* OVERALL CAROUSEL STYLES */

#videoWall {
	width: 100%;
	height: 63%;
	overflow: hidden;
}

.slide {
	width: 100%;
	height: 100% !important;;
}

.leaderboard {
	width: 100%;
	height: 100% !important;;
}

/* LEADERBOARD STYLES */

h1 {
	font-weight: 200;
	font-size: 3vh;
	margin: 0;
	padding: 0;
}

h2 {
	font-weight: 800;
	font-size: 2vh;
	margin: 0;
	padding: 0;
	color: #666666;
}

#titleBlock {
	height: 15%;
	overflow: hidden;
	background: url('../img/ew-games-logo.png') no-repeat;
	background-position: right center;
	background-size: contain;
}

#titleBlock #headings {
	margin-left: 3%;
	margin-top: 7%;
	float: left;
}

.rankings {
	position: absolute;
	top: 0;
	left; 0;
	color: #FFFFFF;
	z-index: 3000;
	height: 100%;
	width: 100%;
}

.rankings span {
	display:flex;
	justify-content:center;
	align-items:center;
	height: 19.4%;
	width: 9%;
	margin-bottom: 5px;
	font-size: 5vw;
}

.rowAlt{
	position: absolute;
	top: 0;
	left; 0;
	z-index: 500;
	height: 100%;
	width: 100%;
}

.rowAlt span {
	display:flex;
	justify-content:center;
	align-items:center;
	height: 19.4%;
	width: 100%;
	margin-bottom: 5px;
}

.teamRow {
	display: block;
	width: 100%;
	height: 19.4% !important;
	margin-bottom: 5px;
	z-index: 1000;
}

.even {
    background-color: rgba(255,255,255,0.1);
}

.rank {
	display:flex;
	justify-content:center;
	align-items:center;
	float: left;
	color: #FFFFFF;
    height: 100%;
    width: 9%;
}

.icon {
	display:flex;
	justify-content:center;
	align-items:center;
	float: left;
	height: 100%;
	width: 10%;
	background-size: 60%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.bl { background-image: url("../img/team-icon-BL.svg"); }
.or { background-image: url("../img/team-icon-OR.svg"); }
.gr { background-image: url("../img/team-icon-GR.svg"); }
.tl { background-image: url("../img/team-icon-TL.svg"); }
.pl { background-image: url("../img/team-icon-PL.svg"); }

.teamName {
	display:flex;
	justify-content:flex-start;
	align-items:center;
	float: left;
	height: 100%;
	width: 41%;
	font-size: 4.5vw;
	font-weight: 200;
}

.points {
	display:flex;
	justify-content:flex-end;
	align-items:center;
	float: left;
	height: 100%;
	width: 40%;
	font-size: 5.5vw;
	box-sizing: border-box;
	padding-right: 3%;
}
.blue 		{ background-color: #2dA3E0; }
.orange 	{ background-color: #F37B00; }
.green 		{ background-color: #8DC63F; }
.teal 		{ background-color: #00A388; }
.purple 	{ background-color: #A05FA6; }

/* Pager styles */
#pager {
	height: 8% !important;
	color: #cccccc;
	font-size: 6vw;
	text-align: center;
}

#pager span {
	display: inline-block;
	margin-top: 3vw;
	padding-right: 1vw;
}

.cycle-pager-active {
	color: #2DA3E0;
}

#appWorks {
	height: 12% !important;
	background: url('../img/appworks.png') no-repeat center top;
	background-size: contain;
}

/* Coming Soon */

#comingSoonLogo {
	margin-top: 5%;
	width: 60%;
	height: auto;
	text-align: center;
	margin-bottom: 0%;
}

#countdown {
	margin-top: 7%;
	font-size: 3vh;
	text-align: center;
	font-weight: 400;
}

h3 {
	font-weight: 200;
	font-size: 5vh;
	margin: 0;
	padding: 0;
}

@media only screen and (min-device-width : 1500px) { 
	
	
	/* Coming Soon */

	#comingSoonLogo {
		margin-top: 5%;
		width: 20%;
		height: auto;
		text-align: center;
		margin-bottom: 0%;
	}
	
	#countdown {
		margin-top: 7%;
		font-size: 3vh;
		text-align: center;
		font-weight: 400;
	}
	
	h3 {
		font-size: 4vh;
		display: none;
	}
		
	
	#videoWall {
		height: 74%;
	}
	
	#titleBlock {
		height:15%;
		background: url('../img/ew-games-logo-wide.png') no-repeat;
		background-size: auto 85%;
		background-position: right center;
	}
	
	#titleBlock #headings {
		margin-left: 3%;
		margin-top: 2%;
	}
	
	h1 {
		font-size: 4vh;
	}
	
	h2 {
		font-size: 3vh;
	}
	
	#appWorks {
		display: none;
	}
	
	#pager {
		height: 5% !important;
		font-size: 3vw;
	}
	
	#pager span {
		margin-top: 1vh;
		cursor: pointer;
	}
	
	.teamName {
		font-size: 3.5vw;
	}
	
	.points {
		font-size: 4.5vw;
	}

}